<div class="funding-container" *ngIf="funding">
  <div class="funding-item">
    <div class="funding-item-value">${{funding?.ticketPrice || 0}}</div>
    <div class="funding-item-title">per ticket</div>
  </div>

  <div class="funding-item">
    <div class="funding-item-value">{{funding?.ticketsToFund || 0}}</div>
    <div class="funding-item-title">tickets goal</div>
  </div>

  <div class="funding-item">
    <div class="funding-item-value">{{funding?.ticketsSold || 0}}</div>
    <div class="funding-item-title">tickets sold</div>
  </div>
</div>
