<div class="show-timer-container" *ngIf="datePerformance">
  <div class="time-togo">
    {{datePerformance}}
  </div>

  <div class="time-left">
    <div class="days">
      <div class="number-container">05</div>
      <div class="item-container">Days</div>
    </div>
    <div class="dbl-dots">:</div>
    <div class="hours">
      <div class="number-container">13</div>
      <div class="item-container">Hours</div>
    </div>
    <div class="dbl-dots">:</div>
    <div class="minutes">
      <div class="number-container">08</div>
      <div class="item-container">Minutes</div>
    </div>
  </div>
</div>
