<div class="multiple-inputs-container">
  <label>{{config.label}}</label>
  <div class="custom-input-container form-group" *ngFor="let input of inputs; let i = index">
    <input type="text"
           class="form-control"
           name="'item'-{{i}}"
           [(ngModel)]="values[i]"
           #field="ngModel"
           (blur)="changeValue(field)"
           [pattern]="config.embedPattern"/>
    <div class="btns-container" [class.btn-reverse]="inputs.length > 1 && i !== inputs.length - 1">
      <button class="btn btn-success rounded-circle"
              *ngIf="i === inputs.length - 1"
              [disabled]="!values[i] || !values[i].length || field.invalid"
              (click)="addInput(field)">
        +
      </button>
      <button class="btn btn-success rounded-circle"
              *ngIf="(i === 0 && values.length > 1) || (i !== 0 && values.length > 1)"
              (click)="removeInput(i)">
        x
      </button>
    </div>

    <div class="invalid-feedback" [class.visible]="!field.valid && field.dirty">
      {{config.errorMsg}}
    </div>
  </div>
</div>
