<div class="like-artists-container">
  <div class="like-artists-title">
    <div class="title-head">Artists You May Like</div>
    <div class="title-body">
      <button>See all >></button>
    </div>
  </div>

  <div class="like-artists-list row">

    <div class="like-artists-container col-md-4">
      <div class="like-artist">
        <div class="images-container">
          <img
              src="http://static.wixstatic.com/media/b34318_704355274e61465897ff32ac8ede6603.jpg"
              alt="">
        </div>

        <div class="time-togo">
          Thu Jan 26th, 09:00pm
        </div>

        <div class="artist-container">

          <div class="artist-info-container">
            <div class="artist-info">
              <div class="artist-name-container">Marcus Miller</div>
              <div class="artist-genre-container">Jazz</div>
            </div>
            <div class="artist-statistics">
              <span class="like-container">L: 1M+</span>
              <span class="follow-container">F: 2M+</span>
            </div>
          </div>

          <div class="show-info-container">
            <div class="purchase-data-container">
              <div class="num-container">$150</div>
              <div class="item-container">PER TICKET</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">5</div>
              <div class="item-container">TICKETS LEFT</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">95%</div>
              <div class="item-container">FUNDED</div>
            </div>
          </div>

          <div class="purchase-container">
            <button class="purchase-button">PURCHASE</button>
          </div>

        </div>
      </div>
    </div>

    <div class="like-artists-container col-md-4">
      <div class="like-artist">
        <div class="images-container">
          <img src="http://www.ufest.in.ua/sites/default/files/384721120.jpg"
               alt="">
        </div>

        <div class="time-togo">
          Tue Jan 31th, 11:00pm
        </div>

        <div class="artist-container">

          <div class="artist-info-container">
            <div class="artist-info">
              <div class="artist-name-container">Арсен Мирзоян</div>
              <div class="artist-genre-container">Pop</div>
            </div>

            <div class="artist-statistics">
              <span class="like-container">L: 669</span>
              <span class="follow-container">F: 510</span>
            </div>
          </div>

          <div class="show-info-container">
            <div class="purchase-data-container">
              <div class="num-container">$10</div>
              <div class="item-container">PER TICKET</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">47</div>
              <div class="item-container">TICKETS LEFT</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">80%</div>
              <div class="item-container">FUNDED</div>
            </div>
          </div>

          <div class="purchase-container">
            <button class="purchase-button">PURCHASE</button>
          </div>

        </div>
      </div>
    </div>

    <div class="like-artists-container col-md-4">
      <div class="like-artist">
        <div class="images-container">
          <img src="http://images1.browardpalmbeach.com/imager/u/745xauto/7022834/gypsykings.jpg"
               alt="">
        </div>

        <div class="time-togo">
          Wed Feb 1th, 06:00pm
        </div>

        <div class="artist-container">
          <div class="artist-info-container">

            <div class="artist-info">
              <div class="artist-name-container">Gipsy Kings</div>
              <div class="artist-genre-container">Gipsy</div>
            </div>

            <div class="artist-statistics">
              <span class="like-container">L: 3K+</span>
              <span class="follow-container">F: 5K+</span>
            </div>
          </div>

          <div class="show-info-container">
            <div class="purchase-data-container">
              <div class="num-container">$5</div>
              <div class="item-container">PER TICKET</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">55</div>
              <div class="item-container">TICKETS LEFT</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">63%</div>
              <div class="item-container">FUNDED</div>
            </div>
          </div>

          <div class="purchase-container">
            <button class="purchase-button">PURCHASE</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
