@import "../variables.scss";

.show-page-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
  padding-bottom: 20px;
}

.back-links {
  display: block;
	width: 100%;
	margin: 15px;
	cursor: pointer;
	color: $liteGray;
}

.show-information {
  flex: 7 0;

  & > * {
    margin-bottom: 20px;
  }
}

.show-screen-viewer {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 400px;
  background-color: $liteGrayBg;

  &-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    & > * {
      margin: 15px;
      padding: 10px;
      position: relative;
      z-index: 1;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: rgba($white, .7);
        box-shadow: 2px 0px 34px -5px rgba(0,0,0,0.75);
      }
    }
  }
}

.big-poster {
  width: 100%;
  height: auto;
}

.show-short-data {
  max-width: 50%;
  display: inline-flex;
  position: relative;
  flex-direction: column;
}

.show-sd-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: $mainColor;
}

.show-sd-creator {
  color: $mainColor;
  cursor: pointer;
}

.communication-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  & > * {
    margin-top: 20px;

    &:first-child {
      margin-right: 15px;
    }
  }
}

.share-box {
  flex: 1;
}

.aside {
  display: flex;
  flex: 2 0;
  flex-direction: column;
  padding-left: 20px;
}

.container-with-border-bottom:not(:last-child) {
  border-bottom: 1px solid $liteGray;
  margin-bottom: 10px;
}

.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purchase-container {
  display: block;
  margin: 10px auto;
}

.remind-me {
  cursor: pointer;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 5px;

  .fa {
    color: $orange;
  }
}

.container-title {
  font-size: 14px;
  text-transform: uppercase;
  color: $liteGray;
  margin-bottom: 15px;
}

.similar-shows-item {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.poster-container {
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;

  img {
    height: 100%;
    width: auto;
  }
}

.info-container {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;

  & > * {
    width: 100%;
  }

  .info-date {
    border-radius: 8px;
    background: rgba($darkBlue, .5);
    color: $white;
    font-size: 12px;
    padding: 2px 5px;
  }

  .info-title {
    font-size: 16px;
  }

  .info-artist {
    color: $liteGray;
  }
}

@media (max-width: map-get($grid-breakpoints, xl)) {
  .aside {
    flex: 3 0;
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .show-screen-viewer {
    min-height: auto;

    &-header {
      & > * {
        margin: 10px;
      }

      .show-sd-name {
        font-size: 13px;
      }
    }
  }

  .aside {
    flex: 4 0;
    padding-left: 0;
  }

  .communication-container {
    flex-direction: column;
  }
}
