<div class="container">
  <a class="back-links" routerLink="/events">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Shows
  </a>
  <div class="show-page-container flex-lg-row">

    <div class="show-information">
      <div class="show-screen-viewer">
        <img class="big-poster" [src]="getImgUrl(currentShow?.posters[0])" alt="event poster">

        <div class="show-screen-viewer-header">
          <div class="show-short-data">
            <div class="show-sd-name">
              {{currentShow?.name}}
            </div>
            <div class="show-sd-creator" routerLink="/artist-profile">
              by {{currentShow?.artist}}
            </div>
          </div>

          <app-statistics [statistics]="currentShow?.statistics" [id]="currentShow?._id"></app-statistics>
        </div>
        <app-timer [datePerformance]="currentShow?.timePerformance.start"></app-timer>

      </div>
      <!--<app-wowza-player [showData]="currentShow"></app-wowza-player>-->

      <div class="communication-container">
        <app-share-container class="share-box"></app-share-container>
        <button type="button ml-auto"
                class="btn-with-border btn-orange">
          <i class="fa fa-comments-o" aria-hidden="true"></i>
          Discuss
        </button>
      </div>

      <div *ngIf="currentShow?.description.length" class="show-description">
        {{currentShow?.description}}
      </div>

      <ng-template ngFor let-audio [ngForOf]="audios">
        <div class="songs-container" [innerHtml]="audio"></div>
      </ng-template>

      <ng-template ngFor let-video [ngForOf]="videos">
        <div class="video-container embed-responsive embed-responsive-16by9" [innerHtml]="video"></div>
      </ng-template>

      <div *ngIf="currentShow?.info" class="show-footer">
        {{currentShow?.info}}
      </div>
    </div>

    <div class="aside">
      <app-event-info [eventInfo]="eventInfo" [isFollowing]="true"></app-event-info>

      <div class="container-with-border-bottom align-center">
        <app-purchase *ngIf="currentShow" class="purchase-container" [purchaseParams]="purchaseParams"
                      [isFree]="currentShow.isFreeForMe"
                      (isBought)="setShowIsBought($event)"></app-purchase>

        <label class="remind-me"
               tooltip="We'll send you a reminder 48 hours before live show"
               [(ngModel)]="isRemindMe"
               btnCheckbox
               (click)="remindMe()">
          <i class="fa fa-star" [class.fa-star]="isRemindMe" [class.fa-star-o]="!isRemindMe" aria-hidden="true"></i>
          Remind me
        </label>
      </div>

      <div class="container-with-border-bottom">
        <h5 class="container-title">Tips</h5>
        <app-tips-container></app-tips-container>
      </div>

      <div class="similar-shows-container" *ngIf="similarEvents.length">
        <h5 class="container-title">Similar shows</h5>

        <ul class="similar-shows">
          <li class="similar-shows-item" *ngFor="let show of similarEvents">
            <div class="poster-container">
              <img [src]="getImgUrl(show?.posters[0])" alt="poster">
            </div>
            <div class="info-container">
              <div class="info-date">14 October EST 02:00pm</div>
              <a [routerLink]="['/show-page']" [queryParams]="{id: show._id}" class="info-title">{{show.name}}</a>
              <div class="info-artist">
                by
                <a [routerLink]="['/artist-profile']" [queryParams]="{id: show.creator}">{{show.creator}}</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
