@import "../variables.scss";

.show-page-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.back-links {
	width: 100%;
	margin: 15px;
	cursor: pointer;
	color: $liteGray;

  img {
    width: 15px;
    vertical-align: sub;
  }
}

.show-view {
	display: inline-flex;
	flex: 7 0;
	flex-direction: column;
}

.show-screen-viewer {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 400px;
	background-color: $liteGrayBg;

  &-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    & > * {
      margin: 15px;
      padding: 10px;
      position: relative;
      z-index: 1;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: #fff;
        box-shadow: 2px 0px 34px -5px rgba(0,0,0,0.75);
        opacity: 0.7;
      }
    }
  }

  & img {
    width: 100%;
    height: auto;
  }
}

.show-short-data {
	display: inline-flex;
	position: relative;
	flex-direction: column;
}

.show-sd-name {
	font-size: 20px;
	font-weight: 700;
  line-height: 1;
  color: $mainColor;
}

.show-sd-creator {
	color: $mainColor;
	cursor: pointer;
}

.time-togo {
	width: auto;
	color: white;
	font-size: 15px;
	font-weight: 400;
	height: 26px;
	opacity: 0.6;
	padding: 0 15px;
	background-color: #1c2e36;
	border: 1px solid white;
	border-radius: 10px;
	text-align: center;
  margin-bottom: 15px;
}

.show-timer-container {
  width: auto;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-left {
  color: #1c2e36;
  font-size: 15px;
  font-weight: 400;
  display: inline-flex;
  justify-content: space-between;
	opacity: 0.6;
	padding: 0 15px;
	border-radius: 20px;
  box-sizing: border-box;
	text-align: center;
}

.number-container {
	border: 1px solid #1c2e36;
	border-radius: 10px;
	background-color: #fff;
	font-size: 40px;
	font-weight: 700;
	padding: 0 10px;
	margin: 0 5px;
}

.dbl-dots {
	font-size: 40px;
	font-weight: 700;
}

.item-container {
	text-transform: uppercase;
}

.communication-container {
	position: relative;
	display: flex;
}

.share-container {
	position: relative;
	display: inline-flex;
	border: 1px solid $liteGray;
	border-radius: 50px;
	padding: 8px 20px;
	margin: 15px 0;
	flex: 1 0;
}

.share-word,
.fb-share,
.gg-share,
.tw-share,
.pr-share,
.more-btn,
.get-link,
.shares-number {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.socials, .site {
	a {
    cursor: pointer;
    color: $liteGray;
  }
}

.fb-share,
.gg-share,
.tw-share,
.pr-share {
	margin-right: 15px;
}

.share-container, .socials {
  img {
    width: 20px;
  }
}

.discuss {
	position: relative;
	display: inline-flex;
	border: 1px solid $liteGray;
	border-radius: 50px;
	padding: 8px 20px;
	margin: 15px 0  15px 15px;
	flex: 0;
	background-color: $liteGrayBg;;
	cursor: pointer;

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.show-description {
	margin: 15px 0;
}

.songs-container, .video-container {
  margin: 15px 0;
}

.show-footer {
	margin: 15px 0 50px 0;
}

.aside {
	display: inline-flex;
	flex: 2 0;
	flex-direction: column;
	padding-left: 20px;
}

.show-purchase-data {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	text-align: center;
}

.purchase-container {
	text-align: center;
	border-bottom: 1px solid $liteGray;
}

.purchase-button {
	display: inline-block;
	border-radius: 20px;
	background-color: white;
	border: 1px solid $orange;
	padding: 5px 20%;
	color: $orange;
	font-size: 16px;
	font-weight: 600;
	margin: 15px;

  &:hover {
    background-color: $orange;
    color: white;
  }
}

.reminder-before-show {
	cursor: pointer;
	font-size: 11px;
	color: $liteGray;
	padding-bottom: 10px;
}

.btn-alerts {
	border: 1px solid #8c8c8c;
	background-color: transparent;
	width: 15px;
	height: 15px;
	border-radius: 30px;
	cursor: pointer;
	margin: 5px;
	vertical-align: middle;

  &.active {
    background-color: $orange;
  }
}

.remind-me-text {
	vertical-align: middle;
}

.tip-title {
	padding: 5px 0;
	text-transform: uppercase;
	color: $liteGray;
}

.tip-controls {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;

  .support {
    border: 1px solid $liteGray;
    border-radius: 50px;
    padding: 0 10px 2px 10px;
    font-size: 11px;
    font-weight: 700;

    &:active {
      background-color: $liteGray;
    }

    &:hover {
      -webkit-box-shadow: 2px 2px 1px 0 rgba(0,0,0,0.15);
      -moz-box-shadow: 2px 2px 1px 0 rgba(0,0,0,0.15);
      box-shadow: 2px 2px 1px 0 rgba(0,0,0,0.15);
    }
  }
}

.donation-container {
	position: relative;
	display: flex;
}

.btn-filter {
	background-color: #fff;
	border: 1px solid $darkGray;
	padding: 0 5px;
}

.filter-drpdwn {
	margin: 0 5px;
	flex: 1 0;
}

.dropdown-item {
	cursor: pointer;
	padding: 0 5px;
	font-size: 15px;
	font-weight: 500;
	line-height: 25px;

  &:hover {
    background-color: #ffe7c7;
  }
}

.pledge-info {
	padding: 10px 0;

  .list-title {
    color: $liteGray;
    font-size: 12px;
  }

  .list-item {
    color: $liteGray;
    font-size: 10px;
  }
}

.tip-artist {
	border-bottom: 1px solid $liteGray;
}

.title-similar-shows {
	padding: 5px 0;
	text-transform: uppercase;
	color: $liteGray;
}

.similar-shows-list img {
	width: 60px;
	vertical-align: top;
}

.similar-show {
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
}

.show-data {
	padding-left: 5px;
	position: relative;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.show-date {
	padding: 3px 10px;
	border-radius: 20px;
	background: $liteGray;
	font-size: 11px;
	color: #ffffff;
}

.show-name {
	font-size: 16px;
	font-weight: 600;
}

.show-by {
	font-size: 13px;
	color: $liteGray;
	cursor: pointer;
}
