<div class="how-it-works-container">
  <div class="custom-container">
    <div class="title-body" btnRadioGroup [(ngModel)]="activeCustomTab">
      <label class="forwhom-text"
             *ngFor="let tab of tabs"
             (click)="changeTab()"
             [btnRadio]="tab">
        {{tab.title}}
      </label>
    </div>

    <div class="how-it-works-notes-list row" *ngIf="!!pageInfo?.notes?.length">
      <div class="note-container col-lg-6" *ngFor="let note of pageInfo.notes">
        <div class="note">
          <div class="note-img">
            <img [src]="note.img" [alt]="note.title">
          </div>

          <div class="note-info">
            <h5 class="note-title">{{note.title}}</h5>
            <p class="note-text">{{note.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="benefits-container" [class.for-artist]="activeCustomTab === tabs[0]" *ngIf="!!pageInfo?.benefits && !!pageInfo.benefits?.list?.length">
    <div class="img-contaner">
      <img src="/assets/img/benefits-fans.png" alt="benefits">
    </div>

    <div class="benefits-info-container custom-container">
      <div class="benefits-info">
        <div class="benefits">
          <div class="benefits-title">{{pageInfo.benefits.title}}</div>

          <ul class="benefits-list row">
            <li class="benefit col-md-6" *ngFor="let benefit of pageInfo.benefits.list">
              <div class="benefit-icon">
                <img [src]="benefit.icon" [alt]="benefit.title">
              </div>
              <h6 class="benefit-title">{{benefit.title}}</h6>
              <div class="benefit-description">{{benefit.desciption}}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
