#genres-filter {
	width: 100%;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}

#genres-filter .genres-filter-button {
  overflow: hidden;
  text-align: center;
  padding: 9px 35px 10px 14px;
  position: relative;
  cursor: pointer;
  color: #374551;
  font-size: 28px;
  line-height: 20px;
}

#genres-filter .genres-filter-button span.arrow {
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 6px solid #374551;
	position: absolute;
	top: calc(50% - 2px);
	right: 1px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ced1d5;;
}

::-webkit-input-placeholder {
  color: #767d86;
  font-family: 'Font Regular', sans-serif;
}

::-moz-placeholder {
  color: #767d86;
  font-family: 'Font Regular', sans-serif;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #767d86;
  font-family: 'Font Regular', sans-serif;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #767d86;
  font-family: 'Font Regular', sans-serif;
}
