<div class="popular-shows-container">
  <div class="popular-shows-title">
    <div class="title-head">Popular Shows</div>
    <div class="title-body">
      <button>See all
        <img class="see-all" src="/assets/img/go.png" alt="">
      </button>
    </div>
  </div>

  <div class="popular-shows-list row">

    <div class="popular-shows-container col-md-4">
      <div class="popular-show">
          <img
              src="https://cdn.mytheatreland.com/images/show/12669_show_landscape_large_home.jpg"
              alt="">

        <div class="time-togo">
          Sat Jan 28th, 07:00am
        </div>

        <div class="artist-container">

          <div class="artist-info-container">
            <div class="artist-info">
              <div class="artist-name-container">Drunk Sailors</div>
              <div class="artist-genre-container">Hard rock</div>
            </div>
            <div class="artist-statistics">
              <span class="like-container">L: 713</span>
              <span class="follow-container">F: 509</span>
            </div>
          </div>

          <div class="show-info-container">
            <div class="purchase-data-container">
              <div class="num-container">$13</div>
              <div class="item-container">PER TICKET</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">280</div>
              <div class="item-container">TICKETS LEFT</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">99%</div>
              <div class="item-container">FUNDED</div>
            </div>
          </div>

          <div class="purchase-container">
            <button class="purchase-button">PURCHASE</button>
          </div>
        </div>
      </div>
    </div>

    <div class="popular-shows-container col-md-4">
      <div class="popular-show">
          <img src="https://i.ytimg.com/vi/nMVVGj0iLSI/maxresdefault.jpg"
               alt="">

        <div class="time-togo">
          Tue Jan 31th, 11:00pm
        </div>

        <div class="artist-container">

          <div class="artist-info-container">
            <div class="artist-info">
              <div class="artist-name-container">Happy Nation</div>
              <div class="artist-genre-container">Pop</div>
            </div>

            <div class="artist-statistics">
              <span class="like-container">L: 51</span>
              <span class="follow-container">F: 76</span>
            </div>
          </div>

          <div class="show-info-container">
            <div class="purchase-data-container">
              <div class="num-container">$7</div>
              <div class="item-container">PER TICKET</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">69</div>
              <div class="item-container">TICKETS LEFT</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">53%</div>
              <div class="item-container">FUNDED</div>
            </div>
          </div>

          <div class="purchase-container">
            <button class="purchase-button">PURCHASE</button>
          </div>

        </div>
      </div>
    </div>

    <div class="popular-shows-container col-md-4">
      <div class="popular-show">
          <img src="http://fenixevent.ee/wp-content/uploads/2016/04/6834ea_6efcaef956d1457ab27df1a670f1af2e.jpg"
               alt="">

        <div class="time-togo">
          Fri Feb 3th, 08:00pm
        </div>

        <div class="artist-container">
          <div class="artist-info-container">

            <div class="artist-info">
              <div class="artist-name-container">The Ducktails</div>
              <div class="artist-genre-container">Classic rock</div>
            </div>

            <div class="artist-statistics">
              <span class="like-container">L: 7K+</span>
              <span class="follow-container">F: 9K+</span>
            </div>
          </div>

          <div class="show-info-container">
            <div class="purchase-data-container">
              <div class="num-container">$10</div>
              <div class="item-container">PER TICKET</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">25</div>
              <div class="item-container">TICKETS LEFT</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">88%</div>
              <div class="item-container">FUNDED</div>
            </div>
          </div>

          <div class="purchase-container">
            <button class="purchase-button">PURCHASE</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
