<div class="header-container container">
  <div class="container">
    <div class="title-container">
      <img src="/assets/img/logo.png" alt="Logo icon" (click)="goToTop($event)">
    </div>

    <nav class="menu-container">
      <span class="menu-item-container" routerLink="/artists" routerLinkActive="active">Artists</span>
      <span class="menu-item-container" routerLink="/events" routerLinkActive="active">Events</span>
      <span class="menu-item-container" routerLink="/how-it-works" routerLinkActive="active">How It Works</span>
      <span class="menu-item-container" routerLink="/launch" routerLinkActive="active">Launch</span>
      <span class="menu-item-container" routerLink="/blog" routerLinkActive="active">Blog</span>
      <span class="menu-item-container" routerLink="/contact" routerLinkActive="active">Contact</span>
    </nav>

    <div class="login-container" *ngIf="!userProfile">
      <button type="button"
              class="login-button"
              (click)="loginModal()">Login
      </button>

      <button type="button"
              class="signup-button"
              routerLink="/first-step">Sign Up
      </button>
    </div>

    <div class="current-user-container">
      <div *ngIf="userProfile" dropdown>
      <span id="simple-dropdown" dropdownToggle>

        <span class="user-menu" *ngIf="userProfile">
          <img class="header-avatar-container" [src]="userProfile?.picture" alt="">
          {{userProfile?.name || userProfile?.email}}<span class="caret"></span>
        </span>
      </span>
        <ul dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu-right">
          <li role="menuitem"><a class="dropdown-item" href="#" routerLink="/edit-profile">My account</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">My events</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Payments</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Following</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#" (click)="auth.logout()" *ngIf="userProfile">Log
            out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Login to LiveStarter</h4>
      </div>
      <div class="modal-body">
        <div class="login-by-socials">
          Get in via socials
          <div>
            <button (click)="auth.googleLogin()">
              <img src="/assets/img/google.svg" alt="Google+ icon"/>
            </button>

            <button (click)="auth.facebookLogin()">
              <img src="/assets/img/fb.svg" alt="Facebook icon"/>
            </button>

            <button (click)="auth.twitterLogin()">
              <img src="/assets/img/tw.svg" alt="Twitter icon"/>
            </button>
          </div>
          <div class="login-devider-container">
            <hr>
            <span class="login-or">OR</span>
            <hr>
          </div>
        </div>
        <input class="form-control"
               type="email"
               #email
               placeholder="Email">
        <input class="form-control"
               type="password"
               #pwd
               placeholder="Password">
        <div class="error-msg"></div>

        <div class="forgot-password-container">
          <a class="forgot-password">Forgot password</a>
        </div>
        <div>
          <button type="submit"
                  class="submit-login"
                  (click)="auth.login(email.value, pwd.value)">
            Let's Rock!
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
