<div class="share-container justify-content-start">
  <div class="share-word">Share:</div>
  <div class="fb-share clickable-item">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <div class="shares-number">192</div>
  </div>
  <div class="tw-share clickable-item">
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <div class="shares-number">201</div>
  </div>
  <div class="gg-share clickable-item">
    <i class="fa fa-google-plus" aria-hidden="true"></i>
    <div class="shares-number">144</div>
  </div>
  <div class="pr-share clickable-item">
    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
    <div class="shares-number">22</div>
  </div>
  <div class="more-btn clickable-item">
    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    <div class="shares-number">More</div>
  </div>
  <div class="get-link ml-auto clickable-item">
    <i class="fa fa-link" aria-hidden="true"></i>
    <div class="shares-number">Get link</div>
  </div>
</div>
