<div class="current-user-container" *ngIf="isAuthenticated && userProfile; else loginContainer">
  <div dropdown>
    <div class="current-user-dropdown" dropdownToggle>
     <app-short-user-info [info]="shortUserInfo" [isLocation]="false"></app-short-user-info>
    </div>
    <ul *dropdownMenu role="menu" aria-labelledby="single-button" class="custom-dropdown-menu dropdown-menu dropdown-menu-right">
      <li *ngFor="let menuItem of mainMenuItems">
        <a [routerLink]="menuItem.link"
           routerLinkActive="active"
           (click)="hideMenu()"
           class="dropdown-item">
          {{menuItem.title}}
        </a>
      </li>
     <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" (click)="logout($event)">Log out</a></li>
    </ul>
  </div>
</div>

<ng-template #loginContainer>
  <div class="auth-btn-container">
    <button type="button"
            class="btn-with-border btn-orange"
            (click)="showAuthModal()">
      Log In
    </button>

    <button type="button"
            class="btn-with-border btn-orange"
            (click)="showSignUpModal()">
      Sign Up
    </button>
  </div>
</ng-template>
