<div class="launch-event-container">
  <div class="container">
    <div class="first-step" *ngIf="isActiveStep(1)">
      <div class="header">
        <div class="title">Get Started</div>
        Crowdfund your own event with LiveStarter
      </div>
      <form #eventForm="ngForm" novalidate (ngSubmit)="goToNextStep(eventForm)">
        <div class="data-container">

          <div class="info">
            <div class="display-data">
              <div class="event-data-container">
                <div class="num-container">${{launchEvent.tickets?.ticketPrice || 0}}</div>
                <div class="item-container">Per Ticket</div>
              </div>
              <div class="event-data-container">
                <div class="num-container">{{launchEvent.tickets?.count || 0}}</div>
                <div class="item-container">tickets</div>
              </div>
              <div class="event-data-container">
                <div class="num-container">{{launchEvent.tickets?.ticketsToFund || 0}}</div>
                <div class="item-container">Min. tickets</div>
              </div>
            </div>
            <div class="genres-selector">
              <div>Choose genres which you have been playing:</div>
              <span class="genres-list" *ngFor="let currentGenre of genres;">
                <button
                  type="button"
                  [name]="currentGenre.value"
                  class="genre-button"
                  [(ngModel)]="currentGenre.isChecked"
                  btnCheckbox>
                  {{currentGenre.value}}
                </button>
              </span>
              <div
                [class]="!launchEvent.genres.length && eventForm.submitted ? 'invalid-feedback visible':'invalid-feedback'">
                Choose one or more genres
              </div>
            </div>
          </div>

          <div class="inputs">
            <div class="form-group">
              <label for="show-title">Give an event a title:</label>
              <input type="text"
                     id="show-title"
                     class="form-control"
                     placeholder="Please enter a show name"
                     name="showName"
                     [(ngModel)]="launchEvent.name"
                     #showName="ngModel"
                     required/>
              <div
                [class]="!showName.valid && (showName.dirty || eventForm.submitted) ? 'invalid-feedback visible':'invalid-feedback'">
                Field can't be empty
              </div>
            </div>

            <div class="form-group">
              <label>Event location:</label>
              <div class="btn-group custom-dropdown-select" dropdown>
                <button dropdownToggle type="button" class="btn btn-filter dropdown-toggle">
                  {{launchEvent.location.country || 'Select location'}} <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu drodown-custom-scroll" role="menu">
                  <li role="menuitem" *ngFor="let location of locations" class="dropdown-item">
                    <label [for]="location.id">{{location.name}}</label>
                    <input type="radio"
                           name="showLocation"
                           [(ngModel)]="launchEvent.location.country"
                           #showLocation="ngModel"
                           [id]="location.id"
                           [value]="location.name"
                           required/>
                  </li>
                </ul>
              </div>
              <div
                [class]="!launchEvent.location.country.length && eventForm.submitted ? 'invalid-feedback visible':'invalid-feedback'">
                Choose a location
              </div>
            </div>

            <div class="form-group">
              <label for="show-tickets">How many people would join me:</label>
              <input type="number"
                     id="show-tickets"
                     class="form-control"
                     placeholder="min 50"
                     name="tickets"
                     [(ngModel)]="launchEvent.tickets.count"
                     #tickets="ngModel"
                     min="50"
                     pattern="^([5-9]{1}[0-9]{1,}|([1-9]{1}[0-9]{2,}))$"
                     required/>
              <div
                [class]="!tickets.valid && (tickets.dirty || eventForm.submitted) ? 'invalid-feedback visible':'invalid-feedback'">
                Value cant be less than 50
              </div>
            </div>

            <div class="form-group">
              <label for="price">They willing to pay per ticket:</label>
              <input type="number"
                     id="price"
                     class="form-control"
                     placeholder="min $10"
                     name="ticketPrice"
                     [(ngModel)]="launchEvent.tickets.ticketPrice"
                     #ticketPrice="ngModel"
                     min="10"
                     pattern="^([1-9]{1}[0-9]{1,})$"
                     required/>
              <div
                [class]="!ticketPrice.valid && (ticketPrice.dirty || eventForm.submitted) ? 'invalid-feedback visible':'invalid-feedback'">
                Value cant be less than 10
              </div>
            </div>

            <div class="form-group">
              <label for="ticketsSold">Amount of sold tickets to perform the show 0:</label>
              <input type="number"
                     id="ticketsSold"
                     class="form-control"
                     placeholder="A critical minimum of tickets to be sold"
                     name="ticketsSold"
                     [(ngModel)]="launchEvent.tickets.ticketsToFund"
                     #ticketsSold="ngModel"
                     min="0"
                     pattern="^([0-9]{1,})$"
                     required/>
              <div
                [class]="!ticketsSold.valid && (ticketsSold.dirty || eventForm.submitted) ? 'invalid-feedback visible':'invalid-feedback'">
                Value cant be less than 0
              </div>

            </div>
            <!--<button type="submit">Send</button>-->
          </div>
        </div>

        <div class="goToSecondStep">
          <button type="submit" class="next-button" (ngSubmit)="goToNextStep(eventForm)">Next step</button>
        </div>
      </form>
    </div>

    <div class="second-step" *ngIf="isActiveStep(2)">
      <form class="row" #eventFormStep2="ngForm">
        <div class="col-9">
          <div class="name-date-container">
            <div class="form-group show-name-second-step">
              <label for="artist-name">Artist Name:</label>
              <input type="text"
                     id="artist-name"
                     class="form-control"
                     placeholder="Please enter a artist name"
                     name="artist"
                     [(ngModel)]="launchEvent.artist"
                     #artist="ngModel"
                     required/>
              <div
                [class]="!artist.valid && (artist.dirty || eventFormStep2.submitted) ? 'invalid-feedback visible':'invalid-feedback'">
                error message
              </div>
            </div>

            <div class="form-group event-date-picker date-picker">
              <label class="input-label">Planned date and time to start:</label>
              <div class="input-group">
                <input type="text"
                       name="datepicker"
                       class="form-control"
                       [minDate]="minDate"
                       [(bsValue)]="bsValue"
                       #eventDP="bsDatepicker"
                       bsDatepicker
                       (bsValueChange)="changeDate($event)"/>
                <div class="input-group-btn">
                  <button class="btn icon-calendar" type="button" (click)="eventDP.show()">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row time-picker-container">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <label>Start Time</label>
              <timepicker name='startTime' [(ngModel)]="timePerfomance.start" (ngModelChange)="validateTimePickers()"></timepicker>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <label>End Time</label>
              <timepicker name="endTime" [(ngModel)]="timePerfomance.end" (ngModelChange)="validateTimePickers()"></timepicker>
            </div>

            <div
              [class]="!isValidTimePicker ? 'invalid-feedback visible':'invalid-feedback'">
              End time cant be less than start
            </div>
          </div>

          <app-file-uploader
            [temporaryFiles]="uploaderImgs"
            [config]="posterConfig"
            (setTemporaryPosters)="setTemporaryPosters($event)">
          </app-file-uploader>

          <div class="description-container">
            <div class="form-group">
              <label for="description" class="input-label">Description</label>
              <textarea name="description"
                        id="description"
                        [(ngModel)]="launchEvent.description"
                        placeholder="Write a show description here"
                        name="description"
                        #description="ngModel"
                        required>
              </textarea>
              <div
                [class]="!description.valid && (description.dirty || eventFormStep2.submitted) ? 'invalid-feedback visible':'invalid-feedback'">
                error message
              </div>
            </div>
          </div>

          <app-multiple-inputs [defaultvalues]="this.launchEvent.audios"
                               [config]="embedAudioConfig"
                               (changeValues)="setAudiosArr($event)">
          </app-multiple-inputs>

          <app-multiple-inputs [defaultvalues]="this.launchEvent.videos"
                               [config]="embedVideoConfig"
                               (changeValues)="setVideosArr($event)">
          </app-multiple-inputs>

          <div class="other-information-container">
            <div class="form-group">
              <label for="info" class="input-label">Additional information</label>
              <textarea name="info"
                        id="info"
                        [(ngModel)]="launchEvent.info"
                        placeholder="Write another information"
                        #info="ngModel">
              </textarea>
              <div
                [class]="!info.valid && (info.dirty || eventFormStep2.submitted) ? 'invalid-feedback visible':'invalid-feedback'">
                error message
              </div>
            </div>
          </div>

          <app-list-of-encoders (setEncoder)="setEncoder($event)"></app-list-of-encoders>

          <button type="button" class="next-button" (click)="goBack()">< Previous step</button>
        </div>
        <div class="side-bar col-3">
          <div class="show-action-button">
            <button type="button" class="next-button">Preview</button>
            <button type="submit" class="next-button" (click)="publish(eventFormStep2)">Publish</button>
          </div>


          <div class="artist-data">
            <img class="avatar img-circle"
                 src="https://img.clipartfest.com/a22d68de188f2083affefb14cc66ca80_shawn-mendes-png-by-karlymoon-shawn-mendes-clipart_400-400.png"
                 alt="AV">
            <div class="artist-info">
              <div class="name" routerLink="/artist-profile">{{launchEvent.artist}}</div>
              <div class="location">Location {{launchEvent.location.country}}</div>
            </div>

            <div class="artists-genres">
              <span class="genres">Genres:</span>
              {{launchEvent.genres}}
            </div>

            <div class="artists-appriciations">
            <span class="views">
              <img src="/assets/img/eye-icon.png" alt="views">
              <span class="amount">57</span>
            </span>
              <span class="likes">
              <img src="/assets/img/rock_gesture.png" alt="views">
              <span class="amount">48</span>
            </span>
              <span class="followers">
              <img src="/assets/img/person.png" alt="views">
              <span class="amount">51</span>
            </span>
              <span class="shows">
              <img src="/assets/img/play.png" alt="views">
              <span class="amount">3</span>
            </span>
            </div>
            <app-funding-container [fundingParams]="launchEvent.tickets"></app-funding-container>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
