.launch-event-container {
	background-color: #fafafb;
}

.header {
	color: #62686b;
	font-weight: 700;
	text-align: center;
	font-size: 17px;
	margin: 30px;
}

.header .title {
	color: #000000;
	font-size: 19px;
}

.data-container {
	border: 1px solid black;
	background-color: white;
	border-radius: 10px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 30px 0;
}

.info,
.inputs {
	padding: 0 30px;
}

.display-data {
	text-align: center;
}

.genre-button {
	color: #62686b;
	font-weight: 700;
	font-size: 12px;
	line-height: 20px;
	border-radius: 10px;
	border: 1px solid #62686b;
	background-color: transparent;
	padding: 0 10px;
	cursor: pointer;
}

.genre-button:hover, .active {
	background-color: #e3e3ef;
	color: #62686b;
}

.event-data-container {
	width: 33%;
	margin: 5px 0;
	position: relative;
	display: inline-block;
	float: left;
}

.num-container {
	color: #fc6337;
	font-size: 22px;
	font-weight: 600;
}

.item-container {
	color: #62686b;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.inputs input {
	font-size: 15px;
	border-radius: 5px;
	padding: 5px 10px;
	margin-bottom: 10px;
}

.goToSecondStep {
	text-align: center;
}

.next-button {
	border-radius: 20px;
	background-color: white;
	border: 1px solid #fc6337;
	padding: 5px 15px;
	color: #fc6337;
	font-size: 16px;
	font-weight: 600;
	margin: 15px 0;
}

.next-button:hover {
	background-color: #fc6337;
	color: white;
}

.ng-valid[required], .ng-valid.required  {
	border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
	border-left: 5px solid #a94442;
}

.second-step {
	padding: 30px 0;
}

.second-step label {
	display: block;
}

.name-date-container {
	position: relative;
	display: flex;
}

.show-name-second-step {
	flex-grow: 1;
	margin-right: 20px;
}

.preview-container {
	width: 100%;
	border: 1px dotted #8e8e9a;
	border-radius: 10px;
	padding: 15px;
	text-align: center;
}

.description-container textarea {
	width: 100%;
	border-radius: 10px;
	padding: 15px;
}

.audio-upload,
.video-upload,
.info-upload {
	margin: 30px 0;
}

.add-button {
	border-radius: 20px;
	background-color: white;
	border: 1px solid #fc6337;
	padding: 2px 15px;
	color: #fc6337;
	font-size: 16px;
	font-weight: 600;
}

.add-button:hover {
	background-color: #fc6337;
	color: white;
}

.show-action-button {
	display: flex;
}

.artist-data .avatar {
	border: 1px solid #8e8e9a;
	width: 50px;
}

.artist-info {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	margin-left: 10px;
}

.artist-info .name {
	color: #1c2e36;
	font-size: 15px;
	font-weight: 600;
	line-height: 17px;
	cursor: pointer;
}

.funding-info {
	text-align: center;
}

.artists-genres {
	color: #8e8e9a;
	font-size: 12px;
	margin: 10px 0;
}

.artists-genres .genres {
	font-weight: 700;
}

.artists-appriciations {
	border-bottom: 1px solid #8e8e9a;
	padding: 15px 0;
}

.artists-appriciations img {
	width: 20px;
}

.artists-appriciations span {
	margin: 0 5px;
}