<div class="pledgers-list row">
  <div *ngIf="showTips" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="pledger-role">
      Ticket Pledger for specific show
    </div>
    <div *ngFor="let showTip of showTips" class="pledger">
      <img [src]="showTip?.avatar" alt="">
      <div class="pledger-info">
        <div class="pledger-name">{{showTip?.firstName}} {{showTip?.lastName}}</div>
        <div class="pledger-type">{{showTip?.type}}</div>
        <div class="pledger-location">{{showTip?.location}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="generalTips" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="pledger-role">
      Ticket Pledger for artists in general
    </div>
    <div *ngFor="let generalTip of generalTips" class="pledger">
      <img [src]="generalTip?.avatar" alt="">
      <div class="pledger-info">
        <div class="pledger-name">{{generalTip?.firstName}} {{generalTip?.lastName}}</div>
        <div class="pledger-type">{{generalTip?.type}}</div>
        <div class="pledger-location">{{generalTip?.location}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="otherTips" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="pledger-role">
      Ticket Pledger for ...
    </div>
    <div *ngFor="let otherTip of otherTips" class="pledger">
      <img [src]="otherTip?.avatar" alt="">
      <div class="pledger-info">
        <div class="pledger-name">{{otherTip?.firstName}} {{otherTip?.lastName}}</div>
        <div class="pledger-type">{{otherTip?.type}}</div>
        <div class="pledger-location">{{otherTip?.location}}</div>
      </div>
    </div>
  </div>
</div>
