<div class="featured-artists-container">
  <div class="featured-artists-title">
    <div class="title-head">Featured Artists</div>
    <div class="title-body">
      <button>See all
        <img class="see-all" src="/assets/img/go.png" alt="">
      </button>
    </div>
  </div>

  <div class="featured-artists-list row">

    <div class="featured-artists-container col-md-4">
      <div class="featured-artist">
        <div class="images-container">
          <img
              src="https://secure.static.tumblr.com/e98fb2269f6a0d4e0577f9b131658b69/gcuvmtv/EXHobsf8b/tumblr_static_47s7li525juo48k4ogwkgcg0o.jpg"
              alt="">
        </div>

        <div class="time-togo">
          Fri Jan 27th, 07:00pm
        </div>

        <div class="artist-container">
          <div class="artist-info-container">
            <div class="artist-info">
              <div class="artist-name-container">Shawn Mendes</div>
              <div class="artist-genre-container">Pop</div>
            </div>
            <div class="artist-statistics">
              <span class="like-container">L: 234</span>
              <span class="follow-container">F: 62</span>
            </div>
          </div>

          <div class="show-info-container">
            <div class="purchase-data-container">
              <div class="num-container">$27</div>
              <div class="item-container">PER TICKET</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">180</div>
              <div class="item-container">TICKETS LEFT</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">36%</div>
              <div class="item-container">FUNDED</div>
            </div>
          </div>

          <div class="purchase-container">
            <button class="purchase-button">PURCHASE</button>
          </div>
        </div>
      </div>
    </div>

    <div class="featured-artists-container col-md-4">
      <div class="featured-artist">
        <div class="images-container">
          <img src="https://www.totaljobs.com/careers-advice/what-career/~/media/tj/what%20job/musician-interview.ashx"
               alt="">
        </div>

        <div class="time-togo">
          Tue Jan 31th, 08:00pm
        </div>


        <div class="artist-container">
          <div class="artist-info-container">
            <div class="artist-info">
              <div class="artist-name-container">Misterwives</div>
              <div class="artist-genre-container">Indie pop, Pop</div>
            </div>
            <div class="artist-statistics">
              <span class="like-container">L: 518</span>
              <span class="follow-container">F: 76</span>
            </div>
          </div>

          <div class="show-info-container">
            <div class="purchase-data-container">
              <div class="num-container">$30</div>
              <div class="item-container">PER TICKET</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">124</div>
              <div class="item-container">TICKETS LEFT</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">47%</div>
              <div class="item-container">FUNDED</div>
            </div>
          </div>

          <div class="purchase-container">
            <button class="purchase-button">PURCHASE</button>
          </div>
        </div>
      </div>
    </div>

    <div class="featured-artists-container col-md-4">
      <div class="featured-artist">
        <div class="images-container">
          <img src="https://www.platinumloops.com/wp-content/uploads/2015/05/bigstock-Recording-Studio-68609107.jpg"
               alt="">
        </div>

        <div class="time-togo">
          Sun Feb 5th, 10:00pm
        </div>


        <div class="artist-container">
          <div class="artist-info-container">
            <div class="artist-info">
              <div class="artist-name-container">The Lumineers</div>
              <div class="artist-genre-container">Indie folk, Folk rock</div>
            </div>
            <div class="artist-statistics">
              <span class="like-container">L: 623</span>
              <span class="follow-container">F: 98</span>
            </div>
          </div>

          <div class="show-info-container">
            <div class="purchase-data-container">
              <div class="num-container">$20</div>
              <div class="item-container">PER TICKET</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">78</div>
              <div class="item-container">TICKETS LEFT</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">55%</div>
              <div class="item-container">FUNDED</div>
            </div>
          </div>

          <div class="purchase-container">
            <button class="purchase-button">PURCHASE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
