<div class="events-page-container">
  <div class="search-filter-header">
    <div class="container">
      <div class="date-filter">
        <div class="datepicker-dropdown pdng-filter-items brdr-l brdr-r" (click)="datePickerDropdown()">
          <img class="datepicker-icon" src="/assets/img/datepicker.png" alt="">
          <div class="dp-dd" *ngIf="datepickerShow">
            <datepicker [(ngModel)]="queryToFindShow.dateShowPerformance"
                        [activeDate]="true"
                        (selectionDone)="findEventsByQuery(queryToFindShow)"></datepicker>
          </div>
        </div>

        <div class="list-for-today pdng-filter-items" (click)="setTodayDate()">
          <span class="today-name">Today</span>
        </div>

        <div class="scroll-left-button pdng-filter-items brdr-l brdr-r" (click)="setDay(false)">
          <img src="/assets/img/left-arrow-date.png" alt="">
        </div>

        <div class="choose-day-button">
          {{queryToFindShow.dateShowPerformance | date: 'fullDate'}}
        </div>

        <div class="scroll-right-button pdng-filter-items brdr-l brdr-r" (click)="setDay(true)">
          <img src="/assets/img/right-arrow-date.png" alt="">
        </div>
      </div>

      <div class="show-attrs-filter">
        <div class="filter-drpdwn live-shows">
          <div class="title">Live</div>
          <label class="switch">
            <input type="checkbox" [(ngModel)]="displayLiveShows.isChecked" (click)="displayLiveShowsFunc()">
            <div class="slider round"></div>
          </label>
        </div>

        <div class="filter-drpdwn"><span class="title">Location</span>
          <div class="btn-group" dropdown>
            <button id="location-button" type="button" class="btn btn-filter" dropdownToggle>
              {{queryToFindShow.findByLocation || 'Select all'}} <span class="caret"></span>
            </button>
            <div *dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu">
              <div
                  class="dropdown-item"
                  (click)="pushLocationToList('Select all')"
                  btnCheckbox>Select All
              </div>
              <div class="locations-list" *ngFor="let location of locations">
                <div
                    class="dropdown-item"
                    (click)="pushLocationToList(location.country)"
                    btnCheckbox>{{location.country}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="filter-drpdwn"><span class="title">Genre</span>
          <div class="btn-group" dropdown>
            <button id="genre-button" type="button" class="btn btn-filter" dropdownToggle>
              {{queryToFindShow.findByGenre || 'Select all'}} <span class="caret"></span>
            </button>
            <div *dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu">
              <div
                  class="dropdown-item"
                  (click)="pushGenreToList('Select all')"
                  btnCheckbox>Select All
              </div>
              <div class="genres-list" *ngFor="let genre of genres">
                <div
                    class="dropdown-item"
                    (click)="pushGenreToList(genre)"
                    btnCheckbox>{{genre}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="filter-drpdwn"><span class="title">Sort by</span>
          <div class="btn-group" dropdown>
            <button id="sortedby-button" type="button" class="btn btn-filter" dropdownToggle>
              {{queryToFindShow.findByType || 'Select all'}}<span class="caret"></span>
            </button>
            <div *dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu">
              <div
                  class="dropdown-item"
                  (click)="pushTypeToList('Select all')"
                  btnCheckbox>Select All
              </div>
              <div class="types-list" *ngFor="let eventType of eventTypes">
                <div
                    class="dropdown-item"
                    (click)="pushTypeToList(eventType)"
                    btnCheckbox>{{eventType}}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="shows-header-title">
      <span class="coming-shows" *ngIf="!displayLiveShows.isChecked">Explore <span class="shows-counter">{{nonLiveEventsAmount}}</span> Coming Shows</span>
      <span class="coming-shows" *ngIf="displayLiveShows.isChecked"><span class="shows-counter">24</span> Shows Live Now</span>

      <div class="party-display-type-switcher">
        <div class="type-columns"
             [class.not-active]="!isColumn"
             [(ngModel)]="isColumn" [btnRadio]="true">
          <i class="fa fa-th-large" aria-hidden="true"></i>
        </div>
        <div class="type-rows"
             [class.not-active]="isColumn"
             [(ngModel)]="isColumn" [btnRadio]="false">
          <i class="fa fa-th-list" aria-hidden="true"></i>
        </div>
      </div>

    </div>

    <div class="row" *ngIf="shows.length; else emptypage">
      <div class="col-12 col-sm-6 col-lg-4 show-item"
           [class.col-xl-12]="!isColumn"
           *ngFor="let show of shows">
        <app-show-info [info]="show" [isSmall]="isColumn"></app-show-info>
      </div>
    </div>

    <ng-template #emptypage>
      <div>Empty page</div>
    </ng-template>
  </div>
</div>
