<!--<button type="button"-->
<!--class="signup-button"-->
<!--(click)="router.navigate('first-step')"-->
<!--*ngIf="!auth.authenticated()">Sign Up</button>-->

<div class="signup-container">
  <h4 class="title">Sign up to LiveStarter</h4>

  <div class="signup-by-socials">
    Get in via socials
    <div>
      <button (click)="socialLogin('google')">
        <img src="//vs-work.github.io/live-starter/assets/img/google.svg" alt="Google+ icon"/>
      </button>

      <button (click)="socialLogin('facebook')">
        <img src="//vs-work.github.io/live-starter/assets/img/fb.svg" alt="Facebook icon"/>
      </button>

      <button (click)="socialLogin('tweeter')">
        <img src="//vs-work.github.io/live-starter/assets/img/tw.svg" alt="Twitter icon"/>
      </button>
    </div>

    <div class="signup-devider-container">
      <hr>
      <span class="signup-or">OR</span>
      <hr>
    </div>

    <input class="form-control"
           type="text"
           [(ngModel)]="signupForm.email"
           #userEmail
           placeholder="* Email Address">
    <input class="form-control"
           type="password"
           [(ngModel)]="signupForm.password"
           #pwd
           placeholder="* Think of a strong password">

    <div class="error-msg">{{userErrorMessage}}</div>
    <div>
      <button type="submit" class="submit-signup" (click)="isEmailExist(signupForm)">Let's Rock!</button>
    </div>

  </div>
</div>
