.signup-container {
	width: 500px;
	text-align: center;
	margin: auto;
	border: 1px solid #fc6337;
	border-radius: 10px;
}

.signup-container h4 {
	color: #1c2e36;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

.signup-container input {
	width: 70%;
	display: inline-block;
	margin: 5px 0;
	padding: 5px;
}

.signup-by-socials {
	font-size: 17px;
	color: #555555;
}

.forgot-password, .signup-by-socials button {
	cursor: pointer;
}

.forgot-password {
	width: 100%;
}

.signup-devider-container {
	margin: 20px;
}

.signup-by-socials hr {
	width: 42%;
	height: 1px;
	background: #e5e5e5;
	margin-top: 10px;
}

.signup-by-socials hr:first-child {
	float: left;
}

.signup-by-socials hr:last-child {
	float: right;
}

.signup-or {
	color: #79797c;
}

.signup-by-socials button {
	border: none;
	background: transparent;
	margin: 10px 5px;
}

.signup-container .submit-signup {
	width: 40%;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	color: white;
	border-radius: 25px;
	background-color: #fc6337;
	border: none;
	padding: 10px;
	margin-top: 15px;
}

.error-msg {
	width: 70%;
	text-align: center;
	margin-left: 5px;
	color: red;
	font-size: 10px;
	font-weight: 200;
}



