<div class="show-info-container" [class.small]="isSmall" [class.user-info]="!isEvent" >
  <span class="live-evt" *ngIf="show && show.live">live</span>
  <div class="when-container">
    <div class="time-to-go" *ngIf="isEvent">
      <ng-template [ngIf]="!show.completed" [ngIfElse]="copletedDate">
        <div class="day">{{date.dayNum}}</div>
        <div class="month">{{date.month}}</div>
        <div class="time">{{date.time}}</div>
      </ng-template>

      <ng-template #copletedDate>
        <div class="day">Finished</div>
        <div class="month">{{date.dayNum}} {{date.month}}</div>
      </ng-template>
    </div>
    <div class="poster-container">
      <img [src]="getImgUrl()" alt="show poster">
    </div>
  </div>
  <div class="main-info">
    <div class="event-info" *ngIf="isEvent; else atristInfo">
      <div class="info-top">
        <span class="show-name" (click)="gotoAnotherPage(isGoToEventPage)">{{show?.name}}</span>
        <app-statistics [statistics]="show.statistics" [id]="show._id"></app-statistics>
      </div>

      <div class="show-creator" (click)="gotoAnotherPage(!isGoToEventPage)">by <span>{{show?.creator}}</span></div>
    </div>

    <ng-template #atristInfo>
      <div class="info-top">
        <div class="left-part">
          <span class="show-name" (click)="gotoAnotherPage(!isGoToEventPage)">{{user?.username}}</span>
          <div class="kind-of-activity" *ngIf="user?.position">{{user?.position}}</div>
          <div class="genres-container">
            <span class="genres-title">Genres:</span>
            <span *ngFor="let genre of user?.genres; last as isLast">
              {{isLast ? genre : genre + ', '}}
            </span>
          </div>
        </div>

        <div class="right-part">
          <app-follow *ngIf="!isEvent" [followedUser]="user._id"></app-follow>
          <app-statistics [statistics]="statistics" [id]="user._id" [isEvent]="isEvent"></app-statistics>
        </div>
      </div>
    </ng-template>


    <div class="show-decription">{{sliceDescription(242)}} <span class="read-more" (click)="gotoAnotherPage()">Read more »</span></div>
  </div>

  <div class="purchase-container" *ngIf="isEvent; else nextShow">
    <div class="box" *ngIf="isMyEvents; else notMyEvents">
      <div class="purchase-wrapper">
        <div *ngIf="show.live; else notLiveNow" class="live-now">
          <div class="live-now-title">Now Live!</div>
          <button type="button" class="btn-with-border btn-orange small long">{{'View show' | uppercase}}</button>
        </div>
        <ng-template #notLiveNow>
          <div *ngIf="show.completed; else notCompleted" class="flex-container flex-center">
            <button type="button" class="btn-with-border btn-orange small long">{{'Replay' | uppercase}}</button>
          </div>
          <ng-template #notCompleted>
            <app-funding-container [fundingParams]="show.tickets" [isFree]="show.isFree"></app-funding-container>
          </ng-template>
        </ng-template>
      </div>
      <div class="buy-ticket-container" *ngIf="!isMyEvents">
        <app-purchase [purchaseParams]="purchaseParams"
                      (isBought)="setShowIsBought($event, show)"
                      *ngIf="!show.completed && !show.isBought">
        </app-purchase>
        <span class="show-bought" *ngIf="!show.completed && show.isBought">You have already bought the ticket</span>
        <span class="show-completed" *ngIf="show.completed">Finished!</span>
      </div>
    </div>

    <ng-template #notMyEvents>
      <div class="box">
        <div class="purchase-wrapper">
          <app-funding-container [fundingParams]="show.tickets" [isFree]="show.isFree"></app-funding-container>
        </div>

        <div class="buy-ticket-container">
          <app-purchase [purchaseParams]="purchaseParams"
                        (isBought)="setShowIsBought($event, show)"
                        *ngIf="!show.completed && !show.isBought">
          </app-purchase>
          <span class="show-bought" *ngIf="!show.completed && show.isBought">You have already bought the ticket</span>
          <span class="show-completed" *ngIf="show.completed">Finished!</span>
        </div>
      </div>
    </ng-template>
  </div>

  <ng-template #nextShow>
    <div class="purchase-container">
      <div class="box" *ngIf="show; else noNextShow">
        <div class="purchase-wrapper">
          <h6 class="title-nex-show">{{'Next Show' | uppercase}}</h6>
          <div class="next-show-time-to-go">{{date.dayNum}} {{date.month}} {{date.time}}</div>
          <app-funding-container [fundingParams]="show.tickets" [isFree]="show.isFree"></app-funding-container>
        </div>
        <div class="buy-ticket-container">
          <app-purchase [purchaseParams]="purchaseParams"
                        (isBought)="setShowIsBought($event, show)"
                        *ngIf="!show.isBought; else alreadyBought">
          </app-purchase>

          <ng-template #alreadyBought>
            <span class="show-bought">You have already bought the ticket</span>
          </ng-template>
        </div>
      </div>

      <ng-template #noNextShow>
        <div class="box">
          <div class="purchase-wrapper">
            <span class="doesnt-have-event">This artist doesn't have events at the monent</span>
          </div>
          <div class="buy-ticket-container">
            <div class="show-bought">Don't worry be happy</div>
          </div>
        </div>
      </ng-template>
    </div>
  </ng-template>
</div>
