@import "../../variables.scss";

:host {
  max-width: 100%;
}

.show-info-container {
  border: 1px solid $liteGray;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 190px;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  position: relative;

  &.small {
    flex-direction: column;
    padding: 0;
    max-width: 350px;
    height: auto;
  }

  & > *:not(.live-evt) {
    padding: 10px;
  }
}

.when-container {
  display: flex;
  align-items: center;
  width: 300px;

  & > * {
    width: 50%;
    overflow: hidden;
  }
}

.time-to-go {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;

  .day {
    font-size: 20px;
    font-weight: bold;
  }
}

.poster-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
  }
}

.info-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
}

.show-name {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.purchase-container {
  display: flex;
  width: 300px;
  padding-left: 0 !important;

  & > * {
    width: 100%;
    padding-left: 10px;
  }
}

.purchase-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;

  & > * {
    width: 100%
  }
}

.live-now {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &-title {
    font-size: 18px;
    font-weight: bold;
  }
}

.statistics-container {
  width: 180px;
}

.appreciations, .views {
  margin: 3px;
  position: relative;
  display: inline-block;
}

.show-creator {
  color: $liteGray;
  cursor: pointer;
  margin-bottom: 10px;

  span {
    text-decoration: underline;
  }
}

.read-more {
  font-weight: bold;
  text-decoration: underline !important;
  cursor: pointer;
}

.purchase-container {
  box-sizing: border-box;
  align-items: center;

  &:before {
    content: '';
    display: block;
    height: calc(100% - 30px);
    border-left: 1px solid $liteGray;
    margin-right: 10px;
  }
}


.title-nex-show {
  font-size: 14px;
  text-align: center;
}

.main-info {
  width: calc(100% - 600px);

  & > * {
    padding-right: 15px;
  }
}

.small {

  & > *:not(.live-evt) {
    width: 100%;
  }

  .when-container {
    flex-direction: column;
    position: relative;
    padding: 0;
    width: 100%;

    & > * {
      width: 100%;
    }

    .poster-container {
      height: 220px;
      overflow: hidden;

      img {
        width: auto;
        height: 100%;
      }
    }

    .time-to-go {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
      color: $white;
      font-size: 15px;
      font-weight: 400;
      height: 28px;
      opacity: .8;
      background-color: $darkBlue;
      border: 1px solid $white;
      border-radius: 7px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      padding: 0 10px 2px 10px;
      box-sizing: border-box;
      width: auto;
      max-width: 100%;
      min-width: 270px;

      & > * {
        font-size: inherit !important;
        font-weight: normal;
        padding: 0 3px;
      }
    }
  }

  .show-decription {
    display: none;
  }

  .main-info {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 14px;
    height: 115px;

    & > * {
      padding-right: 0;
    }

    .event-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .show-creator {
      margin-bottom: 0;
    }
  }

  .info-top {
    margin: 0;
  }

  .buy-ticket-container {
    padding-top: 10px;
    position: relative;
    width: 100%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
      border-top: 1px solid $liteGray;
    }
  }

  &.user-info {
    .when-container {
      flex-direction: column;
      position: relative;
      padding: 0;
      width: 100%;
    }

    .info-top {
      flex-wrap: wrap;

      & > * {
        width: 100%;
        padding: 0;

        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }

    .main-info {
      width: 100%;
    }

    .next-show-time-to-go {
      position: absolute;
      top: 208px;
      left: 50%;
      transform: translateX(-50%);
      color: $white;
      font-size: 15px;
      font-weight: 400;
      height: 28px;
      opacity: .8;
      background-color: $darkBlue;
      border: 1px solid $white;
      border-radius: 7px;
      max-width: 100%;
      min-width: 270px;
    }

    .title-nex-show {
      display: none;
    }
  }

  .purchase-container {
    padding-top: 0;
    flex-direction: column;

    &:before {
      height: auto;
      width: calc(100% - 10px);
      border-left: none;
      border-top: 1px solid $liteGray;
      margin: 0 0 0 10px;
    }
  }
}

.user-info {
  .when-container {
    width: 180px;

    & > * {
      width: 100%;
    }
  }

  .main-info {
    width: calc(100% - 480px);

    & > * {
      padding-right: 15px;
    }
  }
}

.next-show-time-to-go {
  width: auto !important;
  padding: 3px 10px;
  background: $liteGrayBg;
  border-radius: 5px;
  text-align: center;
}

.kind-of-activity {
  color: $liteGray;
}

.genres-title {
  font-weight: bold;
}

.right-part {
  display: flex;
  padding-left: 10px;

  & > *:not(:last-child) {
    display: block;
    padding-right: 10px;
  }
}

.event-button-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

@media (max-width: 1199px) {
  .buy-ticket-container {
    padding-top: 10px;
    position: relative;
    width: 100%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
      border-top: 1px solid $liteGray;
    }
  }

  .show-info-container {
    flex-wrap: wrap;
    padding: 0;
    min-width: 290px;
    max-width: 350px;
    width: 100%;
    height: auto;
    margin: 0 auto;

    & > *:not(.live-evt), .main-info {
      width: 100%;
    }

    .when-container {
      flex-direction: column;
      position: relative;
      padding: 0;
      width: 100%;

      & > * {
        width: 100%;
      }

      .poster-container {
        height: 220px;
        overflow: hidden;

        img {
          width: auto;
          height: 100%;
        }
      }

      .time-to-go {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        color: $white;
        font-size: 15px;
        font-weight: 400;
        height: 28px;
        opacity: .8;
        background-color: $darkBlue;
        border: 1px solid $white;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 0 10px 2px 10px;
        box-sizing: border-box;
        width: auto;
        max-width: 100%;
        min-width: 270px;

        & > * {
          font-size: inherit !important;
          font-weight: normal;
          padding: 0 3px;
        }
      }
    }

    .show-decription {
      display: none;
    }

    .main-info {
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 14px;
      height: 115px;

      & > * {
        padding-right: 0;
      }

      .event-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }

      .show-creator {
        margin-bottom: 0;
      }
    }

    .info-top {
      margin: 0;
    }

    .purchase-container {
      padding-top: 0;
      flex-direction: column;

      &:before {
        height: auto;
        width: calc(100% - 10px);
        border-left: none;
        border-top: 1px solid $liteGray;
        margin: 0 0 0 10px;
      }

      .purchase-wrapper {
        padding: 5px 0 0 0;
        width: 100%;
        height: 70px;
      }

      .next-show-time-to-go {
        position: absolute;
        top: 208px;
        left: 50%;
        transform: translateX(-50%);
        color: $white;
        font-size: 15px;
        font-weight: 400;
        height: 28px;
        opacity: .8;
        background-color: $darkBlue;
        border: 1px solid $white;
        border-radius: 7px;
        max-width: 100%;
        min-width: 270px;
      }
    }
  }

  .title-nex-show {
    display: none;
  }

  .user-info {
    .info-top {
      flex-wrap: wrap;

      & > * {
        width: 100%;
        padding: 0;

        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
}

.show-completed {
  color: $orange;
  font-size: 18px;
  line-height: 32px;
}

.show-bought {
  color: $orange;
  font-size: 16px;
  line-height: 32px;
  display: block;
  text-align: center;
}

.doesnt-have-event {
  display: block;
  color: $orange;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
}

.live-evt {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  background: $darkBlue;
  height: auto;
  width: auto;
  padding: 2px 15px;
  border-radius: 3px;
  color: $white;
  border: 1px solid $white;
  font-size: 14px;
  opacity: .8;
}
