<div class="contacts-container">
  <div class="contacts-title">
    Contacts:
  </div>

  <div class="contacts">
    <div class="center-align row">
      <div class="name col-lg-4 col-md-4 col-sm-4 col-xs-4">
        {{currentUser?.firstName}} {{currentUser?.lastName}}
      </div>

      <div class="phone-location col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="phone">{{currentUser?.contacts.phone}}</div>
        <div class="location">
          {{currentUser?.location.country}}
          {{currentUser?.location.state}}
          {{currentUser?.location.city}}
          <p>{{currentUser?.location.address}}</p>
          </div>
      </div>

      <div class="socials col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <a [href]="currentUser.contacts.facebook" target="_blank"><img src="/assets/img/fb-icon.png" alt=""></a>
        <a [href]="currentUser.contacts.twitter" target="_blank"><img src="/assets/img/tw-icon.png" alt=""></a>
        <a [href]="currentUser.contacts.googleplus" target="_blank"><img src="/assets/img/gg-icon.png" alt=""></a>
        <a [href]="currentUser.contacts.pinterest" target="_blank"><img src="/assets/img/pr-icon.png" alt=""></a>
      </div>

      <div class="chats col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <span>Live chat</span>
        <img src="/assets/img/live-chat.png" alt="">
      </div>
    </div>
  </div>
</div>
