<div class="contacts-container">
  <div class="contacts-title">
    Contacts:
  </div>

  <div class="contacts">
    <div class="center-align row">
      <div class="name col-lg-4 col-md-4 col-sm-4 col-xs-4">
        Shawn Mendes
      </div>

      <div class="phone-location col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="phone">+19096586688</div>
        <div class="location">USA FL Robust St. 17</div>
      </div>

      <div class="socials col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <img src="/assets/img/fb-icon.png" alt="">
        <img src="/assets/img/tw-icon.png" alt="">
        <img src="/assets/img/gg-icon.png" alt="">
        <img src="/assets/img/pr-icon.png" alt="">
      </div>

      <div class="chats col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <span>Live chat</span>
        <img src="/assets/img/live-chat.png" alt="">
      </div>
    </div>
  </div>
</div>
