<div class="public-user-profile-container">
  <div class="custom-container" *ngIf="user">
    <div class="top-container">
      <div class="left-part">
        <div class="user-avatar-container">
          <img class="avatar"
               [src]="user.avatar"
               alt="avatar">
        </div>

        <ul class="user-info-container">
          <li class="user-name">{{user.username}}</li>
          <li *ngIf="user.location.country.name && user.location.city.name">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            {{user.location.country.name}} {{user.location.city.name}}
          </li>
          <li *ngIf="dateOfBirth">
            <i class="fa fa-birthday-cake" aria-hidden="true"></i>
            {{dateOfBirth}}
          </li>
          <li *ngIf="joinDate"><span class="joined">Joined</span> {{joinDate}}</li>
          <li>
            <app-follow [followedUser]="user._id" [withIcon]="false"></app-follow>
          </li>
        </ul>
      </div>


      <div class="right-part">
        <div class="user-statistics-container">
          <app-statistics [statistics]="userStatistics" [id]="user._id" [isEvent]="false" [isTitle]="true"></app-statistics>
        </div>

        <div class="social-links-container">
          <ul class="social-links">
            <li *ngIf="user.socials.facebook">
              <a [href]="user.socials.facebook" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                Facebook
              </a>
            </li>
            <li *ngIf="user.socials.twitter">
              <a [href]="user.socials.twitter" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                Twitter
              </a>
            </li>
            <li *ngIf="user.socials.google">
              <a [href]="user.socials.google" target="_blank">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                Google+
              </a>
            </li>
            <li *ngIf="user.socials.instagram">
              <a [href]="user.socials.instagram" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                Instagram
              </a>
            </li>
          </ul>
        </div>

        <div class="tips-container" *ngIf="isUserArtist">
          <h6 class="container-title">Tips:</h6>
          <app-tips-container></app-tips-container>
        </div>

      </div>
    </div>

    <div class="bottom-container">
      <div class="tabs-container">
        <tabset [justified]="true" class="user-public-profile-tabs">
          <tab heading="Bio">
            <div class="biography">{{user.biography}}</div>
          </tab>
          <tab heading="Music" *ngIf="isUserArtist">
           <div class="embed-file-container" *ngIf="audios.length; else emptyAudios">
             <app-embed-file-container
               *ngFor="let audio of audios;"
               [setFile]="audio"></app-embed-file-container>
           </div>

            <ng-template #emptyAudios>
              <div>Empty page</div>
            </ng-template>
          </tab>
          <tab heading="Comments" *ngIf="isUserArtist" [active]="true">
            <app-comments-tab [setCommentConfig]="user._id"></app-comments-tab>
          </tab>
          <tab (select)="getBackedShows()">
            <ng-template tabHeading>
              <div class="">Backed</div>
              <div class="">Shows</div>
            </ng-template>

            <div class="row" *ngIf="backedShows.length; else emptyBackedShows">
              <div class="col-12 col-sm-6 col-lg-4 col-xl-12 show-item" *ngFor="let show of backedShows">
                <app-show-info [info]="show" [isMyEvents]="true"></app-show-info>
              </div>
            </div>

            <ng-template #emptyBackedShows>
              <div>Empty page</div>
            </ng-template>
          </tab>
          <tab (select)="getAttendedShows()">
            <ng-template tabHeading>
             <div class="">Attended</div>
             <div class="">Shows</div>
            </ng-template>

            <div class="row" *ngIf="attendedShows.length; else emptyBackedShows">
              <div class="col-12 col-sm-6 col-lg-4 col-xl-12 show-item" *ngFor="let show of attendedShows">
                <app-show-info [info]="show" [isMyEvents]="true"></app-show-info>
              </div>
            </div>

            <ng-template #emptyBackedShows>
              <div>Empty page</div>
            </ng-template>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
