<app-search></app-search>

<div class="home-container">
  <div class="container">
    <app-featured-artists></app-featured-artists>
    <app-popular-shows></app-popular-shows>
    <app-artists-you-may-like></app-artists-you-may-like>
    <app-upcoming-shows></app-upcoming-shows>
  </div>

  <app-how-it-was></app-how-it-was>

  <div class="container">
    <app-what-they-say></app-what-they-say>
    <app-how-it-works class="fans"></app-how-it-works>
  </div>

  <app-benefits class="fans"></app-benefits>

  <div class="container">
    <app-how-it-works class="artists"></app-how-it-works>
  </div>

  <app-benefits class="artists"></app-benefits>

  <app-prefooter></app-prefooter>

  <app-footer></app-footer>
</div>


