  <div class="biography-container">
    <div class="last-uploaded-video">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/KkGVmN68ByU" frameborder="0" allowfullscreen></iframe>

      <div class="video-info-container">
        This video was created some days ago after show in NewYork.
      </div>

    </div>
    <div class="biography">
      Shawn Peter Raul Mendes was born on August 8, 1998 in Toronto, Ontario, Canada, to Karen (Rayment),
      a real estate agent, and Manuel Mendes, a businessman. His father is of Portuguese descent (from Lagos)
      and his mother is English (with deep roots in Dorset). He has a sister, Aaliyah. Shawn was raised in Pickering.
      He first started posting cover videos on the social video app Vine in 2013 and picked up millions of followers
      in a matter of months, becoming well known for his six-second snippets of renditions of many popular songs.
      Andrew Gertler discovered Shawn online in January 2014, bringing him to Island Records where he eventually
      signed and released his first single "Life of the Party" in June 2014. He is the youngest artist to compose
      his own debut album in the top 25 with a debut song on the Billboard Hot 100, debuting at number 24 for the week
      ending July 12, 2014 at 15 years of age.

      Prior to his signing, Shawn toured as a member of the MagCon Tour (meet and greet convention) alongside other
      young artists and social media sensations including Nash Grier, Aaron Carpenter, Cameron Dallas, Matthew Espinosa,
      Taylor Caniff, Carter Reynolds, Sam Wilkinson, Dillan Rupp, Brent Rivera, Shawn Mendes, Hayes Grier,
      Jacob Whitesides, Jack Johnson, Jack Gilinsky, Chris Collins and Mahogany Lox (their DJ).Shawn also was on
      a nationwide tour with Austin Mahone and released his debut major label EP in July, with a debut album due out
      later in 2014.He won the Teen Choice award in 2014 for Webstar in Music.
    </div>
  </div>
