<div class="artists-container">
  <div class="search-filter-header">
    <div class="container">
      <div class="show-attrs-filter">

        <div class="filter-drpdwn">
          <span class="title">Artist Name</span>
          <form>
            <input type="text"
                   class="form-control"
                   name="artistName"
                   placeholder="Please enter artist name"
                   [(ngModel)]="artistByName"
                   required>
          </form>
          <img src="/assets/img/forma-1.svg"
               alt="Search icon"
               (click)="pushNameToList(artistByName)">
        </div>

        <div class="filter-drpdwn"><span class="title">Location</span>
          <div class="btn-group" dropdown>
            <button id="location-button" type="button" class="btn btn-filter" dropdownToggle>
              {{queryToFindArtists.findByLocation || 'Select all'}} <span class="caret"></span>
            </button>
            <div *dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu">
              <div
                  class="dropdown-item"
                  (click)="pushLocationToList('Select all')"
                  btnCheckbox>Select All
              </div>
              <div class="locations-list" *ngFor="let location of locations">
                <div
                    class="dropdown-item"
                    (click)="pushLocationToList(location.country)"
                    btnCheckbox>{{location.country}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="filter-drpdwn"><span class="title">Genre</span>
          <div class="btn-group" dropdown>
            <button id="genre-button" type="button" class="btn btn-filter" dropdownToggle>
              {{queryToFindArtists.findByGenre || 'Select all'}} <span class="caret"></span>
            </button>
            <div *dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu">
              <div
                  class="dropdown-item"
                  (click)="pushGenreToList('Select all')"
                  btnCheckbox>Select All
              </div>
              <div class="genres-list" *ngFor="let genre of genres">
                <div
                    class="dropdown-item"
                    (click)="pushGenreToList(genre)"
                    btnCheckbox>{{genre}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="filter-drpdwn"><span class="title">Sort by</span>
          <div class="btn-group" dropdown>
            <button id="sortedby-button" type="button" class="btn btn-filter" dropdownToggle>
              {{queryToFindArtists.findByType || 'Select all'}}<span class="caret"></span>
            </button>
            <div *dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu">
              <div
                  class="dropdown-item"
                  (click)="pushTypeToList('Select all')"
                  btnCheckbox>Select All
              </div>
              <div class="types-list" *ngFor="let eventType of eventTypes">
                <div
                    class="dropdown-item"
                    (click)="pushTypeToList(eventType)"
                    btnCheckbox>{{eventType}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <button class="reset-filters" (click)="resetFilters()">Reset</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="explore">
      Explore <span class="artists-amount">{{aritstsAmount}}</span> Artists Around The World
    </div>

    <div class="no-artists" *ngIf="artists && artists.length === 0">No Artists by your request
    </div>

    <div class="artists-list">
      <div class="artist row" *ngFor="let artist of artists">
        <div class="ai-container col-lg-9 col-md-9 col-xs-8 col-sm-9">
          <div class="artist-avatar">
            <img [src]="artist?.avatar"
                 alt="avatar">
          </div>
          <div class="info-container ">
            <div class="artist-info">
              <div class="artist-name" (click)="goTo()">{{artist?.firstName}} {{artist?.lastName}}</div>
              <div class="artist-position">{{artist?.position}}</div>
              <div class="artist-genres"><span class="genres">Genres: </span>{{artist?.genres}}</div>
            </div>

            <div class="artist-short-info-container">{{artist?.biography}}</div>
          </div>
        </div>

        <div class="show-container col-md-3 col-xs-4 col-sm-3">
          <div class="show-info">
            <div class="next-show">
              Next Show
            </div>

            <div class="show-date">
              14 October EST 02:00pm
            </div>

            <div class="show-info-container">
              <div class="purchase-data-container col-lg-4 col-md-4 col-sm-4">
                <div class="num-container">$72</div>
                <div class="item-container">per ticket</div>
              </div>
              <div class="purchase-data-container col-lg-4 col-md-4 col-sm-4">
                <div class="num-container">20</div>
                <div class="item-container">tickets left</div>
              </div>
              <div class="purchase-data-container col-lg-4 col-md-4 col-sm-4">
                <div class="num-container">56%</div>
                <div class="item-container">funded</div>
              </div>
            </div>

            <div class="purchase-container">
              <button class="purchase-button">Pledge ticket</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
