.no-artists {
	font-size: 35px;
	font-weight: 700;
	color: #8e8e9a;
	text-align: center;
	margin: 100px;
}

.search-filter-header {
	width: 100%;
	display: flex;
	background-color: #dadce8;
}

.show-attrs-filter {
	display: flex;
}

.filter-container {
	width: 100%;
	background-color: #dadce8;
	position: relative;
	display: inline-flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
}

.filter-drpdwn img {
	width: 19px;
	height: 100%;
	position: relative;
	align-self: center;
	margin-left: 5px;
	cursor: pointer;
}

.filter-drpdwn:first-child {
	flex: 1 0;
}

.filter-drpdwn {
	display: inline-flex;
	padding: 8px;
	align-self: center;
}

.filter-drpdwn input {
	position: relative;
	display: inline-flex;
}

.title {
	margin: 0 8px;
	display: inline-flex;
	align-self: center;
}

.btn-filter {
	width: 120px;
	background-color: #fff;
	border: 1px solid #49494c;
}

.dropdown-item {
	cursor: pointer;
	padding: 0 5px;
	font-size: 15px;
	font-weight: 500;
	line-height: 25px;
}

.dropdown-item:hover {
	background-color: #ffe7c7;
}

.reset-filters {
	margin-left: 40px;
}

.explore {
	margin: 20px 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.artists-amount {
	font-weight: 700;
}

.artists-list {
	margin: 20px 0;
}

.ai-container {
	position: relative;
}

.artist {
	width: 100%;
	display: inline-block;
	position: relative;
	background-color: white;
	border-radius: 14px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);
	margin: 15px 0;
	vertical-align: top;
}

.artist-avatar {
	float: left;
	display: block;
	position: absolute;
	padding-top: 5px;
}

.artist-avatar img {
	width: 140px;
	height: 140px;
	margin: 10px 20px;
}

.info-container {
	position: relative;
	display: inline-block;
	padding: 8px 0 0 170px;
}

.artist-name {
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
}

.artist-position {
	font-size: 12px;
	color: #8e8e9a;
}

.artist-genres {
	font-size: 12px;
}

.genres {
	font-weight: 700;
}

.artist-short-info-container {
	margin: 10px 0;
}

.show-container {
	position: relative;
	display: inline-block;
	padding: 20px;
}

.show-info {
	width: 100%;
	position: relative;
	display: inline-block;
	border-left: 2px solid #8e8e9a;
	padding-left: 10px;
	text-align: center;
}

.next-show {
	font-size: 14px;
	text-transform: uppercase;
	color: #8e8e9a;
}

.show-date {
	font-size: 14px;
	border: 1px solid #d9dce0;
	border-radius: 5px;
	background-color: #fafafb;
	padding: 0 5px;
	margin: 5px
}

.purchase-data-container {
	position: relative;
	display: inline-block;
	float: left;
	padding: 0;
}

.num-container {
	color: #fc6337;
	font-size: 16px;
	font-weight: 600;
}

.item-container {
	color: #62686b;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.purchase-button {
	border-radius: 20px;
	background-color: white;
	border: 1px solid #fc6337;
	padding: 2px 20px;
	color: #fc6337;
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
}

.purchase-button:hover {
	background-color: #fc6337;
	color: white;
}
