.artists-container {
	background-color: #fafafb;
height: 100vh;
}

.filter-container {
	text-align: center;
	background-color: #dadce8;
	padding: 10px;
}

.select-title {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}

.location, .genre, .new-artists {
	position: relative;
	display: inline-block;
	margin: 0 10px;
}

.select-container {
	position: relative;
	display: inline-block;
	width: 150px;
}

.btn-filter {
	background-color: #fff;
	border: 1px solid #49494c;
}

.search-btns {
	width: 100%;
}

.show-all {
	width: 80%;
	text-align: left;
}

.btn-select {
	background-color: #dadce8;
}

.dropdown-menu {
	right: 0;
	left: auto;
}

.explore {
	margin: 20px 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.artists-amount {
	font-weight: 700;
}

.ai-container {
	position: relative;
}

.artist {
	display: inline-block;
	position: relative;
	background-color: white;
	border-radius: 14px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);
	margin: 15px 0;
	vertical-align: top;
}

.artist-avatar {
	float: left;
	display: block;
	position: absolute;
	padding-top: 5px;
}

.artist-avatar img {
	width: 140px;
	height: 140px;
	margin: 10px 20px;
}

.info-container {
	position: relative;
	display: inline-block;
	padding: 8px 0 0 170px;
}

.artist-name {
	font-size: 18px;
	font-weight: 700;
}

.artist-position {
	font-size: 12px;
	color: #8e8e9a;
}

.artist-genres {
	font-size: 12px;
}

.genres {
	font-weight: 700;
}

.artist-short-info-container {
	margin: 10px 0;
}

.show-container {
	position: relative;
	display: inline-block;
	padding: 20px;
}

.show-info {
	width: 100%;
	position: relative;
	display: inline-block;
	border-left: 2px solid #8e8e9a;
	padding-left: 10px;
	text-align: center;
}

.next-show {
	font-size: 14px;
	text-transform: uppercase;
	color: #8e8e9a;
}

.show-date {
	font-size: 14px;
	border: 1px solid #d9dce0;
	border-radius: 5px;
	background-color: #fafafb;
	padding: 0 5px;
	margin: 5px
}

.purchase-data-container {
	position: relative;
	display: inline-block;
	float: left;
	padding: 0;
}

.num-container {
	color: #fc6337;
	font-size: 16px;
	font-weight: 600;
}

.item-container {
	color: #62686b;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.purchase-button {
	border-radius: 20px;
	background-color: white;
	border: 1px solid #fc6337;
	padding: 2px 20px;
	color: #fc6337;
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
}

.purchase-button:hover {
	background-color: #fc6337;
	color: white;
}
