<div class="artists-container">

  <div class="search-filter-header">
    <div class="custom-container">
      <div class="show-attrs-filter">

        <div class="left-side">
          <div class="filter-drpdwn">
            <span class="title">Artist Name</span>
            <form>
              <input type="text"
                     class="form-control"
                     name="artistName"
                     placeholder="Please enter artist name"
                     [(ngModel)]="queryToFindArtists.findByName"
                     required>
            </form>
            <button class="btn-with-icon">
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>

        <div class="right-side">
          <div class="filter-drpdwn"><span class="title">Location</span>
            <div class="btn-group custom-dropdown-select" dropdown>
              <button dropdownToggle type="button" class="btn btn-filter dropdown-toggle">
                <span class="selected-item">{{queryToFindArtists?.findByLocation || 'Select country'}}</span>
                <span class="caret"></span>
              </button>
              <ul *dropdownMenu class="dropdown-menu drodown-custom-scroll" role="menu">
                <li role="menuitem" *ngFor="let location of locations" class="dropdown-item">
                  <input type="radio"
                         name="showLocation"
                         [id]="location.sortname"
                         [value]="location.name"
                         [(ngModel)]="queryToFindArtists.findByLocation"
                         required/>
                  <label [for]="location.sortname">{{location.name}}</label>
                </li>
              </ul>
            </div>
          </div>

          <div class="filter-drpdwn"><span class="title">Sort by</span>
            <div class="btn-group custom-dropdown-select" dropdown>
              <button dropdownToggle type="button" class="btn btn-filter dropdown-toggle">
                <span class="selected-item">{{queryToFindArtists?.findByType || 'Select filter'}}</span>
                <span class="caret"></span>
              </button>
              <ul *dropdownMenu class="dropdown-menu drodown-custom-scroll" role="menu">
                <li role="menuitem" *ngFor="let type of eventTypes" class="dropdown-item">
                  <input type="radio"
                         name="showLocation"
                         [id]="type"
                         [value]="type"
                         [(ngModel)]="queryToFindArtists.findByType"
                         required/>
                  <label [for]="type">{{type}}</label>
                </li>
              </ul>
            </div>
          </div>

          <button class="reset-filters" (click)="resetFilters()">Reset</button>
        </div>
      </div>
    </div>
  </div>

  <div class="custom-container">
    <div class="explore">
      Explore <span class="artists-amount">{{aritstsAmount}}</span> Artists Around The World
    </div>



    <div class="row" *ngIf="artistsInfo && artistsInfo.length; else emptypage">
      <div class="col-12 col-sm-6 col-lg-4 col-xl-12 artist-item" *ngFor="let info of artistsInfo">
        <app-show-info [info]="info"></app-show-info>
      </div>
    </div>

    <ng-template #emptypage>
      <div class="no-artists">No Artists by your request</div>
    </ng-template>
  </div>
</div>
