<div class="footer-container">
  <div class="container">
    <div class="row">
      <div class="description-container col-md-3">
        <div class="title">Live Starter</div>
        <div class="info-starter">LiveStarter is a crowdfunding platform that lets fans place advance orders for
          tickets for a possible live stream event.
        </div>
        <div class="info privacy">Privacy / Terms</div>
      </div>

      <div class="content-container col-md-3">
        <div class="title">Help</div>
        <div class="info faq" routerLink="help-support">Help & Support</div>
        <div class="info faq" routerLink="/faq">FAQ</div>
        <div class="info contact" routerLink="/contact">Contact Us</div>
      </div>

      <div class="learn-container col-md-3">
        <div class="title">About LiveStarter</div>
        <div class="info how-it-was" routerLink="/how-it-works">How It Works</div>
        <div class="info about" routerLink="/about">About Us</div>
        <div class="info careers" routerLink="">Careers</div>
        <div class="info brand" routerLink="">Brand</div>
        <div class="info press" routerLink="">Press</div>
        <div class="info blog" routerLink="/blog">Blog</div>
      </div>

      <div class="follow-container col-md-3">
        <div class="title">Follow us</div>
        <div class="info facebook">Facebook</div>
        <div class="info twitter">Twitter</div>
        <div class="info youtube">Youtube</div>
        <div class="info instagram">Instagram</div>
        <div class="info signup-news">Sign up for News!</div>
      </div>
    </div>
  </div>
</div>

<div class="all-rights-reserved">&copy; All rights reserved, 2017, Live Starter</div>
