<div class="footer-container">
  <div class="container">
    <div class="description-container col-md-3">
      <div class="title">Live Starter</div>
      <div class="info-starter">LiveStarter is a crowdfunding platform that lets fans place advance orders for
        tickets for a possible live stream event.
      </div>
      <div class="info privacy">Privacy / Terms</div>
    </div>

    <div class="content-container col-md-3">
      <div class="title">Content</div>
      <div class="info artists">Artists</div>
      <div class="info genres">Genres</div>
      <div class="info fund">Fund</div>
      <div class="info blog">Blog</div>
    </div>

    <div class="learn-container col-md-3">
      <div class="title">Learn</div>
      <div class="info about">About</div>
      <div class="info faq">FAQ</div>
      <div class="info referenses">Referenses</div>
      <div class="info contact">Contact</div>
    </div>

    <div class="follow-container col-md-3">
      <div class="title">Follow us</div>
      <div class="info facebook">Facebook</div>
      <div class="info twitter">Twitter</div>
      <div class="info youtube">Youtube</div>
      <div class="info instagram">Instagram</div>
    </div>
  </div>
</div>

<div class="all-rights-reserved">&copy; All rights reserved, 2017, Live Starter</div>
