<div class="shows-list">
  <div class="show-container row">
    <div class="col-md-9 col-xs-8 col-sm-9 line">
      <div class="row">
        <div class="artist-avatar col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="http://images.equipboard.com/uploads/user/image/10587/big_shawn-mendes.jpeg?v=1481557773"
               alt="">
        </div>
        <div class="info-container  col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <div class="show-base-info">
            <div class="show-name">{{currentUser?.shows[0].name}}</div>
            <div class="show-date">
              {{currentUser?.shows[0].date}}
            </div>
          </div>

          <div class="appreciations-container">
            <div class="appreciations">
              <img src="/assets/img/rock_gesture.png" alt="">144
            </div>
            <div class="views">
              <img src="/assets/img/fllowers.png" alt="">12
            </div>
          </div>

          <div class="artist-short-info-container">
            {{currentUser?.shows[0].info}}
          </div>
        </div>
      </div>
    </div>

    <div class="show-data-container col-md-3 col-xs-4 col-sm-3">
      <div class="show-info">
        <div class="next-show">
          Next Show
        </div>
        <div class="show-info-container">
          <div class="purchase-data-container col-lg-4 col-md-4 col-sm-4">
            <div class="num-container">${{currentUser?.shows[0].price}}</div>
            <div class="item-container">per ticket</div>
          </div>
          <div class="purchase-data-container col-lg-4 col-md-4 col-sm-4">
            <div class="num-container">{{currentUser?.shows[0].tickets}}</div>
            <div class="item-container">tickets</div>
          </div>
          <div class="purchase-data-container col-lg-4 col-md-4 col-sm-4">
            <div class="num-container">{{currentUser?.shows[0].funded}}%</div>
            <div class="item-container">funded</div>
          </div>
        </div>

        <div class="purchase-container">
          <button class="purchase-button">Pledge ticket</button>
        </div>
      </div>
    </div>
  </div>
</div>
