.show-container {
	display: inline-block;
	position: relative;
	background-color: white;
	border-radius: 14px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);
	margin: 15px 0;
	padding: 10px;
	vertical-align: top;
}

.artist-avatar {
	float: left;
	position: relative;
	display: inline-block;
	padding-left: 10px;
}

.artist-avatar img {
	width: 165px;
	max-width: 100%;
}

.line {
	position: relative;
}

.line:after {
	content: '';
	position: absolute;
	top: 10px;
	height: calc(100% - 20px);
	right: -22px;
	border-left: 2px solid #8e8e9a;
}

.info-container {
	position: relative;
	display: inline-block;
	padding: 10px 0 0 10px;
}

.show-base-info {
	position: relative;
	display: inline-block;
}

.show-name {
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
}

.artist-short-info-container {
	margin: 10px 0;
}

.show-data-container {
	position: relative;
	display: inline-block;
	padding: 10px;
}

.show-info {
	width: 100%;
	height: 125px;
	position: relative;
	display: inline-block;
	padding-left: 10px;
	text-align: center;
}

.next-show {
	font-size: 14px;
	text-transform: uppercase;
	color: #8e8e9a;
}

.show-date {
	font-size: 14px;
	border: 1px solid #d9dce0;
	border-radius: 5px;
	background-color: #fafafb;
	padding: 0 5px;
	margin: 5px
}

.purchase-data-container {
	position: relative;
	display: inline-block;
	float: left;
	padding: 0;
}

.num-container {
	color: #fc6337;
	font-size: 16px;
	font-weight: 600;
}

.item-container {
	color: #62686b;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.purchase-button {
	border-radius: 20px;
	background-color: white;
	border: 1px solid #fc6337;
	padding: 2px 20px;
	color: #fc6337;
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
}

.purchase-button:hover {
	background-color: #fc6337;
	color: white;
}

.appreciations-container {
	font-size: 14px;
	position: relative;
	display: inline-block;
	float: right;;
}

.appreciations, .views {
	margin: 3px;
	position: relative;
	display: inline-block;
}

.appreciations img, .views img {
	margin: 2px;
	width: 14px;
	vertical-align: top;
}
