<div class="shows-list">
  <div class="show-container">
    <div class="ai-container col-md-9 col-xs-8 col-sm-9">
      <div class="artist-avatar col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <img src="http://images.equipboard.com/uploads/user/image/10587/big_shawn-mendes.jpeg?v=1481557773"
             alt="">
      </div>
      <div class="info-container  col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div class="show-base-info">
          <div class="show-name">Shawn Mendes Show</div>
          <div class="show-date">
            15 October EST 07:00pm
          </div>
        </div>

        <div class="appreciations-container">
          <div class="appreciations">
            <img src="/assets/img/rock_gesture.png" alt="">144
          </div>
          <div class="views">
            <img src="/assets/img/fllowers.png" alt="">12
          </div>
        </div>

        <div class="artist-short-info-container">
          Shawn Mendes is going to spend the bulk of 2016 on the road.
          The 17-year-old announced a world tour today (January 28), which stretches from April to August.
        </div>
      </div>
    </div>

    <div class="show-data-container col-md-3 col-xs-4 col-sm-3">
      <div class="show-info">
        <div class="next-show">
          Next Show
        </div>
        <div class="show-info-container">
          <div class="purchase-data-container col-lg-4 col-md-4 col-sm-4">
            <div class="num-container">$23</div>
            <div class="item-container">per ticket</div>
          </div>
          <div class="purchase-data-container col-lg-4 col-md-4 col-sm-4">
            <div class="num-container">55</div>
            <div class="item-container">tickets</div>
          </div>
          <div class="purchase-data-container col-lg-4 col-md-4 col-sm-4">
            <div class="num-container">86%</div>
            <div class="item-container">funded</div>
          </div>
        </div>

        <div class="purchase-container">
          <button class="purchase-button">Pledge ticket</button>
        </div>
      </div>
    </div>
  </div>
</div>
