@import "../variables.scss";

.custom-container {
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.artist-item {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

  & > * {
    width: 100%;
  }
}

@media (max-width: map-get($grid-breakpoints, customxs)) {
  .artist-item {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center !important;
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .artist-item {
    justify-content: flex-end;

    & > * {
      width: auto;
    }

    &:nth-child(even) {
      justify-content: flex-start;
    }
  }
}
