<div class="prefooter-container">
  <div class="fans col-md-6">
    <div class="info-container fan col-md-9">
        <img src="assets/img/fan.png" alt="">
      <div class="info">Fans, demand your favorite artists and get access to exclusive perks</div>
      <button class="back-to-top" (click)="scrollTop($event)">Sign up</button>
    </div>
  </div>
  <div class="artists col-md-6">
    <div class="info-container artist col-md-9">
        <img src="assets/img/artist.png" alt="">
      <div class="info">Artists, know where your fanbase and superfans are and engage with them for free</div>
      <button>Learn More</button>
    </div>
  </div>
</div>
