<div class="edit-user-profile">
  <div class="container">
    <div class="row">
      <div class="menu col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="profile">Profile</div>
        <div class="accoutn-info">Accoutn Information</div>
        <div class="social-sync">Social Sync</div>
        <div class="notifications">Notifications</div>
      </div>
      <div class="editarea col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div id="profile" class="edit-profile">
          <div class="row">
            <div class="title">Profile</div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <img class="user-avatar" [src]="user?.avatar || localStorageUserProfile?.picture" alt=""><span class="upload-avatar">Upload avatar</span>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="data-container user-name">
                    <div class="field-title">First Name</div>
                    <input type="text"
                           placeholder="First name"
                           [value]="user?.firstName === undefined ? '' : user?.firstName"
                           #userFirstName>
                  </div>
                  <div class="data-container user-country">
                    <div class="field-title">Country</div>
                    <input type="text"
                           placeholder="Country"
                           [value]="user?.country"
                           #country>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="data-container user-lastname">
                    <div class="field-title">Last Name</div>
                    <input type="text"
                           placeholder="Last name"
                           [value]="user?.lastName === undefined ? '' : user?.lastName"
                           #userLastName>
                  </div>
                  <div class="data-container user-city">
                    <div class="field-title">City</div>
                    <input type="text"
                           placeholder="City"
                           [value]="user?.city"
                           #city>
                  </div>
                </div>
              </div>

              <button type="submit"
                      class="submit-button"
                      (click)="updateUser(userFirstName.value, country.value, userLastName.value, city.value)">
                Submit
              </button>
            </div>
          </div>
        </div>

        <div id="account" class="edit-profile">
          <div class="row">
            <div class="title">Account Information</div>
            <div class="data-container user-email col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="field-title">E-mail</div>
              <input type="text"
                     placeholder="E-mail"
                     [value]="user?.email === undefined ? '' : user?.email">
            </div>
            <div class="data-container user-password-change col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="field-title">Password</div>
              <a href="">Change password</a>
            </div>
            <div class="data-container user-delete col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="field-title">Delete the account</div>
              <a href="">I want to delete my account</a>
            </div>
          </div>
        </div>

        <div id="socials" class="edit-profile">
          <div class="title social-sync">Social Sync</div>

          <div class="sync-container common-settings">
            <div class="post-actions">
              <img class="empty-check" src="/assets/img/empty-check.png" alt="checkbox">
              <img class="check-icon" src="/assets/img/check-icon.svg" alt="checkbox checked">
              <span class="common-settings-text">Automatically post things I do on LiveStarter</span>
            </div>

            <div class="post-actions">
              <img class="empty-check" src="/assets/img/empty-check.png" alt="checkbox">
              <img class="check-icon" src="/assets/img/check-icon.svg" alt="checkbox checked">
              <span class="common-settings-text">Show links on my profile page</span>
            </div>
          </div>

          <div class="sync-container google-sync">
            <img class="empty-check" src="/assets/img/empty-check.png" alt="checkbox">
            <img class="check-icon" src="/assets/img/check-icon.svg" alt="checkbox checked">
            <img class="social-icon" src="/assets/img/g-sq.png" alt="G Icon">
            <div *ngIf="user" class="social-data">
              <img [src]="user?.avatar || localStorageUserProfile?.picture" alt="" class="user-social-avatar img-circle">
              <span class="user-social-name">{{user?.firstName}} {{user?.lastName}}</span>
            </div>
            <button *ngIf="user" class="social-sync-button disconnect">Disconnect from Google</button>
            <button *ngIf="!user" class="social-sync-button connect">Sync to Google</button>
          </div>

          <div class="sync-container facebook-sync">
            <img class="empty-check" src="/assets/img/empty-check.png" alt="checkbox">
            <!--<img class="check-icon" src="../assets/img/check-icon.svg" alt="checkbox checked">-->
            <img class="social-icon" src="/assets/img/fb-sq.png" alt="F Icon">
            <div class="social-data">
              <!--<img [src]="user?.avatar" alt="" class="user-social-avatar img-circle">-->
              <!--<span class="user-social-name">{{user?.firstName}} {{user?.lastName}}</span>-->
            </div>
            <!--<button *ngIf="user" class="social-sync-button disconnect">Disconnect from Facebook</button>-->
            <button *ngIf="user" class="social-sync-button connect">Sync to Facebook</button>
          </div>

          <div class="sync-container twitter-sync">
            <img class="empty-check" src="/assets/img/empty-check.png" alt="checkbox">
            <!--<img class="check-icon" src="../assets/img/check-icon.svg" alt="checkbox checked">-->
            <img class="social-icon" src="/assets/img/tw-sq.png" alt="T Icon">
            <div class="social-data">
              <!--<img [src]="user?.avatar" alt="" class="user-social-avatar">-->
              <!--<span class="user-social-name">{{user?.firstName}} {{user?.lastName}}</span>-->
            </div>
            <!--<button *ngIf="user" class="social-sync-button disconnect">Disconnect from Twitter</button>-->
            <button *ngIf="user" class="social-sync-button connect">Sync to Twitter</button>
          </div>

          <div class="sync-container youtube-sync">
            <img class="empty-check" src="/assets/img/empty-check.png" alt="checkbox">
            <!--<img class="check-icon" src="../assets/img/check-icon.svg" alt="checkbox checked">-->
            <img class="social-icon" src="/assets/img/y-sq.png" alt="Y Icon">
            <div class="social-data">
              <!--<img [src]="user?.avatar" alt="" class="user-social-avatar">-->
              <!--<span class="user-social-name">{{user?.firstName}} {{user?.lastName}}</span>-->
            </div>
            <!--<button *ngIf="user" class="social-sync-button disconnect">Disconnect from Youtube</button>-->
            <button *ngIf="user" class="social-sync-button connect">Sync to Youtube</button>
          </div>

          <div class="sync-container insta-sync">
            <img class="empty-check" src="/assets/img/empty-check.png" alt="checkbox">
            <!--<img class="check-icon" src="../assets/img/check-icon.svg" alt="checkbox checked">-->
            <img class="social-icon" src="/assets/img/insta.png" alt="I Icon">
            <div class="social-data">
              <!--<img [src]="user?.avatar" alt="" class="user-social-avatar">-->
              <!--<span class="user-social-name">{{user?.firstName}} {{user?.lastName}}</span>-->
            </div>
            <!--<button *ngIf="user" class="social-sync-button disconnect">Disconnect from Instagram</button>-->
            <button *ngIf="user" class="social-sync-button connect">Sync to Instagram</button>
          </div>
        </div>

        <div id="notifications" class="edit-profile row">
          <div class="title">Alerts / Email Notifications</div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="already-begun">
              <button class="btn-alerts"
                      [(ngModel)]="checkModel.showAlreadyBegun"
                      btnCheckbox></button>
              Show already begun
            </div>
            <div class="begin-in">
              <button class="btn-alerts"
                      [(ngModel)]="checkModel.showBeginIn"
                      btnCheckbox></button>
              Show will begin in
              <select name="hours">
                <option value="1">1 hour</option>
                <option value="2">2 hours</option>
                <option value="3">3 hours</option>
                <option value="4">4 hours</option>
                <option value="5">5 hours</option>
                <option value="6">6 hours</option>
              </select>
            </div>
            <div class="artist-event">
              <button class="btn-alerts"
                      [(ngModel)]="checkModel.followingArtistCreatesNewEvent"
                      btnCheckbox></button>
              Following artists create new event
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="recommended-shows">
              <button class="btn-alerts"
                      [(ngModel)]="checkModel.recommendedArtitsShows"
                      btnCheckbox></button>
              Recommended Artists Shows
            </div>
            <div class="featured-shows">
              <button class="btn-alerts"
                      [(ngModel)]="checkModel.featuredShows"
                      btnCheckbox></button>
              Featured Shows
            </div>
            <div class="message-alert">
              <button class="btn-alerts"
                      [(ngModel)]="checkModel.alertIfMessage"
                      btnCheckbox></button>
              Alert me if someone wrote me
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
