<div class="signup-container">
  <div>
    <!--<div class="back-button-container" (click)="backToFisrtStep()">-->
    <!--<img class="back-button" src="/assets/img/back.png" alt="back">-->
    <!--</div>-->
    <div class="avatar-container">
      <img src="{{userProfile?.picture}}" alt="Avatar">
    </div>
    <div class="user-data-container">
      <div class="user-name-container">{{signupForm?.username || userProfile?.name}}</div>
      <div class="user-email-container">{{signupForm?.email || userProfile?.email}}</div>
    </div>
  </div>

  <div>
    <div class="user-seletor-header">
      Who Are You?
    </div>
    <div class="user-type-selector-container">
      <button class="user-type-button fan"
              (click)="isUserArtist(false)">
        <a class="question-tip" title="Fan is fun.">
          <img class="question-tip-img" src="//vs-work.github.io/live-starter/assets/img/question.png" alt="?">
        </a>
        <span [ngStyle]="{opacity: isTypeArtist ? '1' : '.5'}">
              <img src="//vs-work.github.io/live-starter/assets/img/musician-fan.png" alt="Fan">
                I'm a Fan
              </span>
      </button>
      <button class="user-type-button artist"
              (click)="isUserArtist(true)">
        <a class="question-tip" title="Artist is a man who plays music.">
          <img class="question-tip-img" src="//vs-work.github.io/live-starter/assets/img/question.png" alt="?">
        </a>
        <span [ngStyle]="{opacity: isTypeArtist ? '.5' : '1'}">
              <img src="//vs-work.github.io/live-starter/assets/img/musicians.png" alt="Musician">
                I'm an Artist
              </span>
      </button>
    </div>

    <div [ngStyle]="{display: isTypeArtist ? 'none' : 'block'}">
      <input class="form-control"
             type="text"
             [(ngModel)]="signupForm.username"
             #usrname
             placeholder="* What should we call you? (nickname)">
      <div class="gender-selector-container">
        <span class="gender-head">Gender:</span>
        <input type="radio" name="gender" value="male" [(ngModel)]="signupForm.gender"> <span class="gender-unit">Male</span>
        <input type="radio" name="gender" value="female" [(ngModel)]="signupForm.gender"> <span
          class="gender-unit">Female</span>
        <input type="radio" name="gender" value="other" [(ngModel)]="signupForm.gender"> <span
          class="gender-unit">Other</span>
      </div>

      <select class="form-control" [(ngModel)]="signupForm.country">
        <option value="" disabled selected="selected">* Select Country</option>
        <option *ngFor="let country of countries" value={{country.country}}>{{country.alias || signupForm.country}}</option>
      </select>

      <select class="form-control" [(ngModel)]="signupForm.city">
        <option value="" disabled selected="selected">* Select City</option>
        <option *ngFor="let city of cities" value={{city.city}}>{{city.alias}}</option>
      </select>

      <div>
        <button type="submit" class="submit-signup" (click)="submitData(signupForm)">Let's Do This!</button>
      </div>
    </div>

    <div [ngStyle]="{display: isTypeArtist ? 'block' : 'none'}">
      <input class="form-control"
             type="text"
             [(ngModel)]="signupForm.groupName"
             #usrname
             placeholder="* Artist or Band name">

      <!--<app-genres-filter class="form-control"></app-genres-filter>-->

      <select class="form-control" [(ngModel)]="signupForm.genres">
        <option value="" disabled selected="selected">* What's Your Thing?</option>
        <option *ngFor="let genre of genres" value={{genre}}>{{genre}}</option>
      </select>

      <select class="form-control" [(ngModel)]="signupForm.country">
        <option value="" disabled selected="selected">* Select Country</option>
        <option *ngFor="let country of countries" value={{country.country}}>{{country.alias}}</option>
      </select>
      <select class="form-control" [(ngModel)]="signupForm.city">
        <option value="" disabled selected="selected">* Select City</option>
        <option *ngFor="let city of cities" value={{city.city}}>{{city.alias}}</option>
      </select>
      <div>
        <button type="submit" class="submit-signup" (click)="submitData()">Let's Do This!</button>
      </div>
    </div>
  </div>

</div>
