<div class="comments-container">
  <div class="comments-title">
    <div class="title-head">Fan comments to related shows and art</div>
  </div>

  <div class="comments-list">
    <div class="comments-row-container left col-md-4">
      <div class="sayer-note">
        <div class="sayer-info-container">
          <div class="sayer-avatar">
            <img src="//s-media-cache-ak0.pinimg.com/originals/2f/1c/ee/2f1cee39bfc1d4588ce3c55ae1e90030.png"
                 alt="">
          </div>
          <div class="sayer-info">
            <div class="sayer-name">Denise Fisher</div>
            <div class="sayer-type">Fan</div>
          </div>
        </div>

        <div class="note-container">
          The album features a very loose story about the fictional, titular drug that makes people sleep for three
          months and dream of having sex on unicorns, but the Lips play it so understatedly that it's easier to get
          lost in their cold, minimalistic electronic soundscapes.
        </div>

        <div class="rate">
          <div class="rate-double-container">
            <div class="video-stars">
              <div class="text">
                Video:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>

            <div class="sound-stars">
              <div class="text">
                Sound:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>

          <div class="rate-double-container">
            <div class="connection-stars">
              <div class="text">
                Connect:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
            <div class="show-stars">
              <div class="text">
                Show:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sayer-note">
        <div class="sayer-info-container">
          <div class="sayer-avatar">
            <img
                src="http://images.shape.mdpcdn.com/sites/shape.com/files/styles/facebook_og_image/public/story/jessica-alba-tan-329-1.jpg?itok=YVCx522O"
                alt="">
          </div>
          <div class="sayer-info">
            <div class="sayer-name">Sam Barum</div>
            <div class="sayer-type">Fan</div>
          </div>
        </div>

        <div class="note-container">
          The way the vocals are strung between hope and hurt feels especially intense, as if the singers are
          characters in a modern noir romance.
        </div>
        <div class="rate">
          <div class="rate-double-container">
            <div class="video-stars">
              <div class="text">
                Video:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>

            <div class="sound-stars">
              <div class="text">
                Sound:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>

          <div class="rate-double-container">
            <div class="connection-stars">
              <div class="text">
                Connect:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
            <div class="show-stars">
              <div class="text">
                Show:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="comments-row-container middle col-md-4">
      <div class="sayer-note">
        <div class="sayer-info-container">
          <div class="sayer-avatar">
            <img src="//pixel.nymag.com/imgs/daily/vulture/2016/10/12/12-jim-carrey.w529.h529.jpg"
                 alt="">
          </div>
          <div class="sayer-info">
            <div class="sayer-name">Jim Carrey</div>
            <div class="sayer-type">Artist</div>
          </div>
        </div>

        <div class="note-container">
          Thank you so much, Bachtrack, for this feast of information to delight us again at the start of the New
          Year. Time is of no consequence when sifting through this incredible compilation.
        </div>
        <div class="rate">
          <div class="rate-double-container">
            <div class="video-stars">
              <div class="text">
                Video:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>

            <div class="sound-stars">
              <div class="text">
                Sound:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>

          <div class="rate-double-container">
            <div class="connection-stars">
              <div class="text">
                Connect:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
            <div class="show-stars">
              <div class="text">
                Show:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sayer-note">
        <div class="sayer-info-container">
          <div class="sayer-avatar">
            <img src="http://img5.zergnet.com/1421690_300.jpg"
                 alt="">
          </div>
          <div class="sayer-info">
            <div class="sayer-name">WookieeMonster</div>
            <div class="sayer-type">Artist</div>
          </div>
        </div>

        <div class="note-container">
          Very good rendition. The band was great as was the lead vocalist,
          but I'd still like to hear it redone with his now more matured voice minus the backup girls.
          Just a touch more feeling by both the saxophonist and singer would truly rock it to the level
          of Tim Cappello's in Lost Boys.﻿
        </div>
        <div class="rate">
          <div class="rate-double-container">
            <div class="video-stars">
              <div class="text">
                Video:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>

            <div class="sound-stars">
              <div class="text">
                Sound:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>

          <div class="rate-double-container">
            <div class="connection-stars">
              <div class="text">
                Connect:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
            <div class="show-stars">
              <div class="text">
                Show:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="comments-row-container right col-md-4">
      <div class="sayer-note">
        <div class="sayer-info-container">
          <div class="sayer-avatar">
            <img src="http://vegetarianskij.ru/wp-content/uploads/2013/10/arnold-shvarcenegger-vegetarianec.jpg"
                 alt="">
          </div>
          <div class="sayer-info">
            <div class="sayer-name">Arnold Schwartznigger</div>
            <div class="sayer-type">Artist</div>
          </div>
        </div>

        <div class="note-container">
          For me life is continuously being hungry. The meaning of life is not simply to exist, to survive, but to
          move ahead, to go up, to achieve, to conquer. The mind is the limit. As long as the mind can envision the
          fact that you can do something, you can do it, as long as you really believe 100 percent.
        </div>
        <div class="rate">
          <div class="rate-double-container">
            <div class="video-stars">
              <div class="text">
                Video:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>

            <div class="sound-stars">
              <div class="text">
                Sound:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>

          <div class="rate-double-container">
            <div class="connection-stars">
              <div class="text">
                Connect:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
            <div class="show-stars">
              <div class="text">
                Show:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sayer-note">
        <div class="sayer-info-container">
          <div class="sayer-avatar">
            <img src="//cdn.quotesgram.com/img/80/80/814475983-Patricia_Kaas_Quotes-2.jpg"
                 alt="">
          </div>
          <div class="sayer-info">
            <div class="sayer-name">Patricia Kaas</div>
            <div class="sayer-type">Artist</div>
          </div>
        </div>

        <div class="note-container">
          When you are 25 or even 30, you can just do things. When you get to 35, things are different. Time is more
          precious to me now. I’ve got my priorities.
        </div>
        <div class="rate">
          <div class="rate-double-container">
            <div class="video-stars">
              <div class="text">
                Video:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>

            <div class="sound-stars">
              <div class="text">
                Sound:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>

          <div class="rate-double-container">
            <div class="connection-stars">
              <div class="text">
                Connect:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
            <div class="show-stars">
              <div class="text">
                Show:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
