<div class="comments-container">
  <div class="comments-title">
    <div class="title-head">Fan comments to related shows and art</div>
  </div>

  <div class="comments-list row">
    <div class="col-md-4">
      <div class="sayer-note">
        <div class="sayer-info-container">
            <img [src]="currentUser?.avatar"
                 alt="">
          <div class="sayer-info">
            <div class="sayer-name" (click)="goToFanPage(currentUser?.username)">{{currentUser?.firstName}} {{currentUser?.lastName}}</div>
            <div class="sayer-type">{{currentUser?.type}}</div>
          </div>
        </div>

        <div class="note-container">
          The album features a very loose story about the fictional, titular drug that makes people sleep for three
          months and dream of having sex on unicorns, but the Lips play it so understatedly that it's easier to get
          lost in their cold, minimalistic electronic soundscapes.
        </div>

          <div class="rate-double-container">
            <div class="video-stars">
              <div class="text">
                Video:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>

            <div class="sound-stars">
              <div class="text">
                Sound:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>

          <div class="rate-double-container">
            <div class="connection-stars">
              <div class="text">
                Connect:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
            <div class="show-stars">
              <div class="text">
                Show:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>
      </div>

      <div class="sayer-note">
        <div class="sayer-info-container">
          <img [src]="fan?.avatar"
                alt="">
          <div class="sayer-info">
            <div class="sayer-name" (click)="goToFanPage(fan?.username)">{{fan?.firstName}} {{fan?.lastName}}</div>
            <div class="sayer-type">{{fan?.type}}</div>
          </div>
        </div>

        <div class="note-container">
          The way the vocals are strung between hope and hurt feels especially intense, as if the singers are
          characters in a modern noir romance.
        </div>
          <div class="rate-double-container">
            <div class="video-stars">
              <div class="text">
                Video:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>

            <div class="sound-stars">
              <div class="text">
                Sound:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>

          <div class="rate-double-container">
            <div class="connection-stars">
              <div class="text">
                Connect:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
            <div class="show-stars">
              <div class="text">
                Show:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="sayer-note" *ngFor="let commenter of currentUser?.comments">
        <div class="sayer-info-container">
            <img [src]="commenter?.avatar"
                 alt="">
          <div class="sayer-info">
            <div class="sayer-name">{{commenter?.firstName}} {{commenter?.lastName}}</div>
            <div class="sayer-type">{{commenter?.type}}</div>
          </div>
        </div>

        <div class="note-container">
          {{commenter.comment}}
        </div>
          <div class="rate-double-container">
            <div class="video-stars">
              <div class="text">
                Video:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>

            <div class="sound-stars">
              <div class="text">
                Sound:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>

          <div class="rate-double-container">
            <div class="connection-stars">
              <div class="text">
                Connect:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
            <div class="show-stars">
              <div class="text">
                Show:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="sayer-note">
        <div class="sayer-info-container">
          <img src="http://img5.zergnet.com/1421690_300.jpg"
               alt="">
          <div class="sayer-info">
            <div class="sayer-name">WookieeMonster</div>
            <div class="sayer-type">Artist</div>
          </div>
        </div>

        <div class="note-container">
          Very good rendition. The band was great as was the lead vocalist,
          but I'd still like to hear it redone with his now more matured voice minus the backup girls.
          Just a touch more feeling by both the saxophonist and singer would truly rock it to the level
          of Tim Cappello's in Lost Boys.﻿
        </div>
        <div class="rate-double-container">
          <div class="video-stars">
            <div class="text">
              Video:
            </div>
            <div class="rates">
              <app-star-rating></app-star-rating>
            </div>
          </div>

          <div class="sound-stars">
            <div class="text">
              Sound:
            </div>
            <div class="rates">
              <app-star-rating></app-star-rating>
            </div>
          </div>
        </div>

        <div class="rate-double-container">
          <div class="connection-stars">
            <div class="text">
              Connect:
            </div>
            <div class="rates">
              <app-star-rating></app-star-rating>
            </div>
          </div>
          <div class="show-stars">
            <div class="text">
              Show:
            </div>
            <div class="rates">
              <app-star-rating></app-star-rating>
            </div>
          </div>
        </div>
      </div>

      <div class="sayer-note">
        <div class="sayer-info-container">
            <img src="//cdn.quotesgram.com/img/80/80/814475983-Patricia_Kaas_Quotes-2.jpg"
                 alt="">
          <div class="sayer-info">
            <div class="sayer-name">Patricia Kaas</div>
            <div class="sayer-type">Artist</div>
          </div>
        </div>

        <div class="note-container">
          When you are 25 or even 30, you can just do things. When you get to 35, things are different. Time is more
          precious to me now. I’ve got my priorities.
        </div>
          <div class="rate-double-container">
            <div class="video-stars">
              <div class="text">
                Video:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>

            <div class="sound-stars">
              <div class="text">
                Sound:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>

          <div class="rate-double-container">
            <div class="connection-stars">
              <div class="text">
                Connect:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
            <div class="show-stars">
              <div class="text">
                Show:
              </div>
              <div class="rates">
                <app-star-rating></app-star-rating>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
