<button type="button" class="login-button" (click)="staticModal.show()">Login</button>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Login to LiveStarter</h4>
      </div>
      <div class="modal-body">
        <div class="login-by-socials">
          Get in via socials
          <div>
            <button (click)="socialLogin('google')">
              <img src="/assets/img/google.svg" alt="Google+ icon"/>
            </button>

            <button (click)="socialLogin('facebook')">
              <img src="/assets/img/fb.svg" alt="Facebook icon"/>
            </button>

            <button (click)="socialLogin('tweeter')">
              <img src="/assets/img/tw.svg" alt="Twitter icon"/>
            </button>
          </div>
          <div class="login-devider-container">
            <hr>
            <span class="login-or">OR</span>
            <hr>
          </div>
        </div>
        <input class="form-control"
               type="text"
               [(ngModel)]="userEmail"
               #email
               placeholder="Email">
        <input class="form-control"
               type="text"
               [(ngModel)]="userPassword"
               #pwd
               placeholder="Password">
        <div class="error-msg">{{userErrorMessage}}</div>

        <div class="forgot-password-container">
          <a class="forgot-password">Forgot password</a>
        </div>
        <div>
          <button type="submit" class="submit-login" (click)="submitData(email.value, pwd.value)">Let's Rock!</button>
        </div>
      </div>
    </div>
  </div>
</div>
