.modal-header h4 {
	color: #1c2e36;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}

.modal-body {
	text-align: center;
}

.modal-body input {
	width: 100%;
	margin: 5px 0;
	padding: 5px;
}

.forgot-password-container {
	text-align: left;
}

.forgot-password, .login-by-socials {
	cursor: pointer;
}

.forgot-password {
	width: 100%;
}

.login-devider-container {
	margin: 15px 0;
}

.login-by-socials hr {
	width: 42%;
	height: 1px;
	background: #e5e5e5;
	margin-top: 8px;
}

.login-by-socials hr:first-child {
	float: left;
}

.login-by-socials hr:last-child {
	float: right;
}

.login-or {
	color: #b7b7ba;
}

.login-by-socials button {
	border: none;
	background: transparent;
	margin: 10px 5px;
}

.modal-body .submit-login {
	width: 45%;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	color: white;
	border-radius: 20px;
	background-color: #fc6337;
	border: none;
	padding: 10px;
	margin-top: 15px;
}

.error-msg {
	width: 100%;
	text-align: left;
	color: red;
	font-size: 10px;
	font-weight: 200;
}
