@import "../../variables.scss";

.event-info-container {
  .bottom-separator {
    padding-bottom: 11px;
  }
}

.custom-flex-container {
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: $darkGray;

  &.with-follow {
    padding-right: 82px;
    position: relative;

    .follow-container {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  & > * {
    margin-bottom: 10px;
  }
}

.hashtags-container {
  font-size: 13px;
  margin-bottom: 5px;

  & > * {
    padding: 5px 0;
    display: inline-block;
  }
}

.hashtag {
  font-weight: 700;
}

.user-info {
  display: block;
  padding-right: 10px;
}
