<div class="event-info-container">
  <div class="custom-flex-container">
    <app-short-user-info class="user-info" [info]="shortUserInfo"></app-short-user-info>

    <div class="follow-container" *ngIf="isFollowing">
      <app-follow [followedUser]="info?.artistId"></app-follow>
    </div>
  </div>

  <div class="hashtags-container" *ngIf="info && info.showHashtags.length">
    <span class="hashtag">Hashtags:</span>
    <span *ngFor="let hashtag of info?.showHashtags; last as isLast">
      {{isLast ? hashtag : hashtag + '&nbsp;'}}
    </span>
  </div>

  <app-statistics class="bottom-separator" [statistics]="artistStatisctics" [id]="artistProfile?._id" [isEvent]="false"></app-statistics>

  <app-funding-container [fundingParams]="info?.tickets"></app-funding-container>
</div>
