@import "../../variables.scss";

.shows-container-head {
  padding-left: 15px;

  & > * {
    margin-bottom: 15px;
  }

  .title {
    font-size: 25px;
    font-weight: 600;
    color: $darkBlue;
    margin-right: 15px;
  }
}

.show-item {
  margin-bottom: 15px;
}
