@import "../../variables.scss";

.statistics-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $liteGray;
  font-size: 14px;

  & > * {
    padding: 0px 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .statistics-title {
    font-size: 10px;
    font-weight: bold;
  }

  .statistics-value {
    position: relative;
    display: flex;
    align-items: baseline;

    .fa {
      padding-right: 5px;
      font-size: 16px;
      color: $darkGray;
    }
  }

  .likes {
    cursor: pointer;
  }

}

@media (min-width: map-get($grid-breakpoints, sm)) {
  .statistics-container {
    &.with-title {

      & > * {
        padding: 0 15px;
      }

      .statistics-title {
        font-size: 18px;
      }

      .statistics-value {
        font-size: 18px;
        color: $darkGray;

        .fa {
          font-size: 18px;
        }
      }
    }
  }
}
