<div class="statistics-container" [class.with-title]="isTitle">
  <div class="statistics-item"
       [class.likes]="item.title === 'Likes'"
       *ngFor="let item of statistics"
       (click)="setLike(item)">
    <div class="statistics-value"
         [tooltip]="item.tooltip"
         [isDisabled]="isTitle"
         placement="bottom">
      <i class="fa {{item.icon}}" aria-hidden="true"></i>
      {{item.value}}
    </div>
    <div class="statistics-title" *ngIf="isTitle">{{item.title}}</div>
  </div>
</div>
