<div class="header-container container">
  <div class="header row">
    <div class="image-container col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <img [src]="user?.avatar" alt="">
    </div>

    <div class="artist-info-container col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <div class="body-info-container row">
        <div class="artist-info col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="artist-name">{{user?.firstName}} {{user?.lastName}}</div>
          <div class="artist-position">{{user?.position}}</div>
          <div class="artist-location">{{user?.location.country}}, {{user?.location.city}}, {{user?.location.state}}</div>
          <div class="artist-joined">{{user?.joinDate}}</div>
          <div class="action-to-artist">
            <button class="follow">Follow</button>
            <button class="message">Message</button>
          </div>
        </div>

        <div class="artist-statistics col-lg-7 col-md-7 col-sm-7 col-xs-7">
          <div class="counter-container row">
            <div class="views col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="number-container">{{user?.viewers.length}}</div>
              <div class="unit-container">Total views</div>
            </div>
            <div class="appreciations col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="number-container">{{user?.appreciations.length}}</div>
              <div class="unit-container">Appreciations</div>
            </div>
            <div class="followers col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="number-container">{{user?.followers.length}}</div>
              <div class="unit-container">Followers</div>
            </div>
            <div class="following col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="number-container">{{user?.followings.length}}</div>
              <div class="unit-container">Following</div>
            </div>
          </div>
          <div class="genres-container">
            <div class="genres">Genres</div>
              <span class="genre-unit" *ngFor="let genre of user?.genres">{{genre}}</span>
          </div>
        </div>
      </div>

      <div class="share-container">
        <div class="share-word">Share:</div>
        <div class="fb-share">
          <img src="/assets/img/fb-icon.png" alt="">
          <div class="shares-number">192</div>
        </div>
        <div class="tw-share">
          <img src="/assets/img/tw-icon.png" alt="">
          <div class="shares-number">201</div>
        </div>
        <div class="gg-share">
          <img src="/assets/img/gg-icon.png" alt="">
          <div class="shares-number">144</div>
        </div>
        <div class="pr-share">
          <img src="/assets/img/pr-icon.png" alt="">
          <div class="shares-number">22</div>
        </div>

        <div class="more-btn">
          <img src="/assets/img/three-dots.png" alt="">
          <div class="shares-number">More</div>
        </div>

        <div class="get-link">
          <img src="/assets/img/get-link.png" alt="">
          <div class="shares-number">Get link</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tabs-container">
  <div class="tabs container">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <tabset>
          <tab *ngIf="user?.biography" (select)="true" (deselect)="false">
            <ng-template tabHeading>Bio</ng-template>
            <app-bio-tab [currentUser]="user"></app-bio-tab>
          </tab>

          <tab *ngIf="user?.audio" (select)="true" (deselect)="false">
            <ng-template tabHeading>Music</ng-template>
            <app-music-tab [currentUser]="user"></app-music-tab>
          </tab>

          <tab *ngIf="user?.shows.length !== 0" (select)="true" (deselect)="false">
            <ng-template tabHeading>Coming Shows</ng-template>
            <app-shows-tab [currentUser]="user" [showType]="'coming'"></app-shows-tab>
          </tab>

          <tab *ngIf="user?.shows.length !== 0" (select)="true" (deselect)="false">
            <ng-template tabHeading>Backed Shows</ng-template>
            <app-shows-tab [showType]="'backed'"></app-shows-tab>
          </tab>

          <tab *ngIf="user?.shows.length !== 0" (select)="true" (deselect)="false">
            <ng-template tabHeading>Recorded Shows</ng-template>
            <app-shows-tab [showType]="'recorded'"></app-shows-tab>
          </tab>

          <tab *ngIf="user?.comments.length !== 0" (select)="true" (deselect)="false">
            <ng-template tabHeading>Comments</ng-template>
            <app-comments-tab [currentUser]="user"></app-comments-tab>
          </tab>

          <tab *ngIf="user?.tips.length !== 0" (select)="true" (deselect)="false">
            <ng-template tabHeading>Tips</ng-template>
            <app-tips-tab [currentUser]="user"></app-tips-tab>
          </tab>

          <tab *ngIf="user?.contacts" (select)="true" (deselect)="false">
            <ng-template tabHeading>Contacts</ng-template>
            <app-contacts-tab [currentUser]="user"></app-contacts-tab>
          </tab>
        </tabset>
      </div>

      <div class="side-bar-container col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="title">On the Web</div>
        <div class="socials">
          <div class="site">
            <a [href]="user?.website" target="_blank"><img src="/assets/img/get-link.png" alt="">
              {{user?.lastName}}'s site</a>
          </div>
          <div class="fb-share">
            <a [href]="user?.contacts.facebook" target="_blank"><img src="/assets/img/fb-icon.png" alt="">
              Facebook</a>
          </div>
          <div class="tw-share">
            <a [href]="user?.contacts.twitter" target="_blank">
              <img src="/assets/img/tw-icon.png" alt="">
              Twitter
            </a>
          </div>
          <div class="gg-share">
            <a [href]="user?.contacts.youtube" target="_blank">
              <img src="/assets/img/YoutubeButton.png" alt="">
              Youtube
            </a>
          </div>
        </div>

        <div class="tip-artist">
          <div class="title">Tip {{user?.firstName}} {{user?.lastName}}</div>
          <div class="tip-bar">$2 $5 $10 $15 $20 $30</div>
          <div class="btn-group">
            <label class="btn tip-button" [(ngModel)]="radioModel" btnRadio="permonth">Per Month</label>
            <label class="btn tip-button" [(ngModel)]="radioModel" btnRadio="once">Once</label>
          </div>
          <button class="support-button">Support</button>
          <div class="tips-info">
            The Official package includes:
            <ul>
              <li>A heartfelt "Thank you"</li>
              <li>An discount of 10% for next show</li>
              <li>Access to the LiveStarter page where all of your messages/questions will be answered</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
