/* You can add global styles to this file, and also import other style files */
body {
	margin: 0;
	font-family: 'Arial';
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

ul {
  margin: 0;
  list-style-type: none;
}

* {
  outline: none;
}


a {
  color: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.invalid-feedback.visible {
  display: block !important;
}
