<footer class="footer">
  <div class="container footer-container">
    <div class="row">
        <div class="footer-columns col-md-3">
          <h3 class="title">Live Starter</h3>
          <div class="info-starter">LiveStarter is a crowdfunding platform that lets fans place advance orders for
            tickets for a possible live stream event.
          </div>
          <a routerLink="/home" class="footer-link privacy">Privacy / Terms</a>
        </div>

        <div class="footer-columns col-md-3">
          <h3 class="title">Help</h3>
          <a routerLink="/help-support" class="footer-link support">Help & Support</a>
          <a routerLink="/faq" class="footer-link faq">FAQ</a>
          <a routerLink="/contact" class="footer-link contact">Contact Us</a>
        </div>

        <div class="footer-columns col-md-3">
          <h3 class="title">About LiveStarter</h3>
          <a routerLink="/how-it-works" class="footer-link how-it-was">How It Works</a>
          <a routerLink="/about" class="footer-link about">About Us</a>
          <a routerLink="" class="footer-link careers">Careers</a>
          <a routerLink="" class="footer-link brand">Brand</a>
          <a routerLink="" class="footer-link press">Press</a>
          <a routerLink="/blog" class="footer-link blog">Blog</a>
        </div>

        <div class="footer-columns col-md-3">
          <h3 class="title">Follow us</h3>
          <div class="footer-link facebook">Facebook</div>
          <div class="footer-link twitter">Twitter</div>
          <div class="footer-link youtube">Youtube</div>
          <div class="footer-link instagram">Instagram</div>
          <div class="footer-link signup-news">Sign up for News!</div>
        </div>
      </div>
  </div>

  <div class="all-rights-reserved">&copy; All rights reserved, 2017, Live Starter</div>
</footer>
