.modal-content {
	width: 500px;
}

.modal-header h4 {
	color: #1c2e36;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

.back-button-container {
	cursor: pointer;
	width: 20px;
	float: left;
	margin: 15px 10px 0 0;
}

.back-button {
	width: 20px;
}

.avatar-container {
	width: 50px;
	float: left;
	display: inline-block;
	position: relative;
	margin-right: 10px;
}

.avatar-container img {
	width: 50px;
}

.user-name-container {
	padding-top: 5px;
}

.modal-body {
	text-align: center;
}

.modal-body input, .modal-body select, app-genres-filter.form-control {
	width: 70%;
	display: inline-block;
	margin: 5px 0;
	padding: 5px;
}

.signup-by-socials {
	font-size: 17px;
	color: #555555;
}

.forgot-password, .signup-by-socials button {
	cursor: pointer;
}

.forgot-password {
	width: 100%;
}

.signup-devider-container {
	margin: 15px 0;
}

.signup-by-socials hr {
	width: 42%;
	height: 1px;
	background: #e5e5e5;
	margin-top: 10px;
}

.signup-by-socials hr:first-child {
	float: left;
}

.signup-by-socials hr:last-child {
	float: right;
}

.signup-or {
	color: #79797c;
}

.signup-by-socials button {
	border: none;
	background: transparent;
	margin: 10px 5px;
}

.modal-body .submit-signup {
	width: 40%;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	color: white;
	border-radius: 25px;
	background-color: #fc6337;
	border: none;
	padding: 10px;
	margin-top: 15px;
}

.error-msg {
	width: 70%;
	text-align: center;
	margin-left: 5px;
	color: red;
	font-size: 10px;
	font-weight: 200;
}

.user-type-selector-container img {
	width: 100px;
	height: 90px;
	margin: 0 10px;
}

.user-type-selector-container .question-tip {
	position: absolute;
	margin: -5px 0 0 100px;
}

.user-type-selector-container .question-tip-img {
	width: 20px;
	height: 20px;
	background-color: #e5e5e5;
	border-radius: 15px;
	padding: 2px;
}

.user-type-selector-container .question-tip:hover:after {
	background: #333;
	background: rgba(0, 0, 0, .8);
	border-radius: 5px;
	bottom: 26px;
	color: #fff;
	content: attr(title);
	left: 20%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 220px;
}

.user-seletor-header {
	font-size: 24px;
}

.user-type-button {
	width: 155px;
	height: 127px;
	border-radius: 10px;
	background-color: transparent;
	margin: 5px 0;
}

.user-type-button.fan {
	margin-right: 10px;
}

.gender-selector-container {
	width: 70%;
	display: inline-block;
	text-align: left;
	margin: 10px 0 11px 0;
}

.gender-selector-container input {
	width: 15px;
	vertical-align: middle;
}

.gender-head {
	margin-right: 5px;
}

.gender-head, .gender-unit {
	font-size: 16px;
	vertical-align: middle;
}

