<button type="button"
        class="signup-button"
        (click)="staticModal.show()"
        *ngIf="!auth.authenticated()">Sign Up</button>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>

        <div [ngStyle]="{display: firstStepSuccess ? 'none' : 'block'}">
          <h4 class="modal-title">Sign up to LiveStarter</h4>
        </div>

        <div [ngStyle]="{display: firstStepSuccess ? 'block' : 'none'}">
          <!--<div class="back-button-container" (click)="backToFisrtStep()">-->
            <!--<img class="back-button" src="/assets/img/back.png" alt="back">-->
          <!--</div>-->
          <div class="avatar-container">
            <img src="/assets/img/default-avatar.png" alt="Avatar">
          </div>
          <div class="user-data-container">
            <div class="user-name-container">{{signupForm?.username}}</div>
            <div class="user-email-container">{{signupForm?.email}}</div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div [ngStyle]="{display: firstStepSuccess ? 'none' : 'block'}">
          <div class="signup-by-socials">
            Get in via socials
            <div>
              <button (click)="socialLogin('google')">
                <img src="/assets/img/google.svg" alt="Google+ icon"/>
              </button>

              <button (click)="socialLogin('facebook')">
                <img src="/assets/img/fb.svg" alt="Facebook icon"/>
              </button>

              <button (click)="socialLogin('tweeter')">
                <img src="/assets/img/tw.svg" alt="Twitter icon"/>
              </button>
            </div>
            <div class="signup-devider-container">
              <hr>
              <span class="signup-or">OR</span>
              <hr>
            </div>
          </div>
          <input class="form-control"
                 type="text"
                 [(ngModel)]="signupForm.email"
                 #userEmail
                 placeholder="* Email Address">
          <input class="form-control"
                 type="password"
                 [(ngModel)]="signupForm.password"
                 #pwd
                 placeholder="* Think of a strong password">

          <div class="error-msg">{{userErrorMessage}}</div>
          <div>
            <button type="submit" class="submit-signup" (click)="isEmailExist(signupForm)">Let's Rock!</button>
          </div>
        </div>

        <div [ngStyle]="{display: firstStepSuccess ? 'block' : 'none'}">

          <div class="user-seletor-header">
            Who Are You?
          </div>
          <div class="user-type-selector-container">
            <button class="user-type-button fan"
                    (click)="isUserArtist(false)">
              <a class="question-tip" title="Fan is fun.">
                <img class="question-tip-img" src="/assets/img/question.png" alt="?">
              </a>
              <span [ngStyle]="{opacity: isTypeArtist ? '1' : '.5'}">
              <img src="/assets/img/musician-fan.png" alt="Fan">
                I'm a Fan
              </span>
            </button>
            <button class="user-type-button artist"
                    (click)="isUserArtist(true)">
              <a class="question-tip" title="Artist is a man who plays music.">
                <img class="question-tip-img" src="/assets/img/question.png" alt="?">
              </a>
              <span [ngStyle]="{opacity: isTypeArtist ? '.5' : '1'}">
              <img src="/assets/img/musicians.png" alt="Musician">
                I'm an Artist
              </span>
            </button>
          </div>

          <div [ngStyle]="{display: isTypeArtist ? 'none' : 'block'}">
            <input class="form-control"
                   type="text"
                   [(ngModel)]="signupForm.username"
                   #usrname
                   placeholder="* What should we call you? (nickname)">
            <div class="gender-selector-container">
              <span class="gender-head">Gender:</span>
              <input type="radio" name="gender" value="male" [(ngModel)]="signupForm.gender"> <span class="gender-unit">Male</span>
              <input type="radio" name="gender" value="female" [(ngModel)]="signupForm.gender"> <span
                class="gender-unit">Female</span>
              <input type="radio" name="gender" value="other" [(ngModel)]="signupForm.gender"> <span
                class="gender-unit">Other</span>
            </div>

            <select class="form-control" [(ngModel)]="signupForm.country">
              <option value="" disabled selected="selected">* Select Country</option>
              <option *ngFor="let country of countries" value={{country.country}}>{{country.alias}}</option>
            </select>

            <select class="form-control" [(ngModel)]="signupForm.city">
              <option value="" disabled selected="selected">* Select City</option>
              <option *ngFor="let city of cities" value={{city.city}}>{{city.alias}}</option>
            </select>

            <div>
              <button type="submit" class="submit-signup" (click)="submitData(signupForm)">Let's Do This!</button>
            </div>
          </div>

          <div [ngStyle]="{display: isTypeArtist ? 'block' : 'none'}">
            <input class="form-control"
                   type="text"
                   [(ngModel)]="signupForm.groupName"
                   #usrname
                   placeholder="* Artist or Band name">


            <!--<app-genres-filter class="form-control"></app-genres-filter>-->


            <select class="form-control" [(ngModel)]="signupForm.genres">
              <option value="" disabled selected="selected">* What's Your Thing?</option>
              <option *ngFor="let genre of genres" value={{genre}}>{{genre}}</option>
            </select>

            <select class="form-control" [(ngModel)]="signupForm.country">
              <option value="" disabled selected="selected">* Select Country</option>
              <option *ngFor="let country of countries" value={{country.country}}>{{country.alias}}</option>
            </select>
            <select class="form-control" [(ngModel)]="signupForm.city">
              <option value="" disabled selected="selected">* Select City</option>
              <option *ngFor="let city of cities" value={{city.city}}>{{city.alias}}</option>
            </select>
            <div>
              <button type="submit" class="submit-signup" (click)="submitData()">Let's Do This!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
