.modal-header h4 {
	color: #1c2e36;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}

.modal-body input {
	width: 100%;
	margin: 5px 0;
	padding: 5px;
}

.forgot-password {
	cursor: pointer;
}

.modal-body button {
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	color: white;
	background-color: #3e8f78;
	border: none;
	padding: 10px;
	margin-top: 15px;
}

.error-msg {
	color: red;
	font-size: 10px;
	font-weight: 200;
}
