<div class="popular-shows-container">
  <div class="popular-shows-title">
    <div class="title-head">Upcoming Shows</div>
    <div class="title-body">
      <button>See all
        <img class="see-all" src="/assets/img/go.png" alt="">
      </button>
    </div>
  </div>

  <div class="popular-shows-list row">

    <div class="popular-shows-container col-md-4">
      <div class="popular-show">
        <div class="images-container">
          <img
              src="https://i.ytimg.com/vi/Eqiotc_fKQ4/maxresdefault.jpg"
              alt="">
        </div>

        <div class="time-togo">
          Thu Jan 26th, 07:00pm
        </div>

        <div class="artist-container">

          <div class="artist-info-container">
            <div class="artist-info">
              <div class="artist-name-container">Tool</div>
              <div class="artist-genre-container">Classic Rock</div>
            </div>
            <div class="artist-statistics">
              <span class="like-container">L: 73</span>
              <span class="follow-container">F: 59</span>
            </div>
          </div>

          <div class="show-info-container">
            <div class="purchase-data-container">
              <div class="num-container">$3</div>
              <div class="item-container">PER TICKET</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">28</div>
              <div class="item-container">TICKETS LEFT</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">90%</div>
              <div class="item-container">FUNDED</div>
            </div>
          </div>

          <div class="purchase-container">
            <button class="purchase-button">PURCHASE</button>
          </div>

        </div>
      </div>
    </div>

    <div class="popular-shows-container col-md-4">
      <div class="popular-show">
        <div class="images-container">
          <img
              src="https://i.ytimg.com/vi/01zox48hwfA/hqdefault.jpg"
              alt="">
        </div>

        <div class="time-togo">
          Thu Jan 26th, 06:00pm
        </div>

        <div class="artist-container">

          <div class="artist-info-container">
            <div class="artist-info">
              <div class="artist-name-container">The Lost Boys</div>
              <div class="artist-genre-container">Rock</div>
            </div>

            <div class="artist-statistics">
              <span class="like-container">L: 1K+</span>
              <span class="follow-container">F: 1K+</span>
            </div>
          </div>

          <div class="show-info-container">
            <div class="purchase-data-container">
              <div class="num-container">$0</div>
              <div class="item-container">PER TICKET</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">33</div>
              <div class="item-container">TICKETS LEFT</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">100%</div>
              <div class="item-container">FUNDED</div>
            </div>
          </div>

          <div class="purchase-container">
            <button class="purchase-button">PURCHASE</button>
          </div>

        </div>
      </div>
    </div>

    <div class="popular-shows-container col-md-4">
      <div class="popular-show">
        <div class="images-container">
          <img src="//i.ytimg.com/vi/GRi5LqCk5B8/maxresdefault.jpg"
               alt="">
        </div>

        <div class="time-togo">
          Thu Jan 26th, 11:00pm
        </div>

        <div class="artist-container">
          <div class="artist-info-container">

            <div class="artist-info">
              <div class="artist-name-container">Pringlez</div>
              <div class="artist-genre-container">Rock</div>
            </div>

            <div class="artist-statistics">
              <span class="like-container">L: 70</span>
              <span class="follow-container">F: 53</span>
            </div>
          </div>

          <div class="show-info-container">
            <div class="purchase-data-container">
              <div class="num-container">$2</div>
              <div class="item-container">PER TICKET</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">66</div>
              <div class="item-container">TICKETS LEFT</div>
            </div>
            <div class="purchase-data-container">
              <div class="num-container">73%</div>
              <div class="item-container">FUNDED</div>
            </div>
          </div>

          <div class="purchase-container">
            <button class="purchase-button">PURCHASE</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
